<div
  class="page-header"
  data-parallax="true"
  style="background-image: url('./assets/img/IPCA/pasantes fondo.jpg')"
>
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <br />
      <h1 class="titulo">IPCAsist</h1>
      <h3 class="titulo">Registro de Pasantes</h3>
      <br />
      <a
        href="https://www.youtube.com/channel/UCdaO3AoDM186eC32Hs7Hx6Q/videos"
        class="btn btn-outline-neutral btn-round"
        target="_blank"
        ><i class="fa fa-play fa-lg fa-fw"></i> Vídeo Informativo</a
      >
    </div>
  </div>
</div>

<div class="main">
  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="title">Breve Descripción</h2>
          <h5 class="description">
            Desde este módulo se puede ingresar la información y registrar al
            pasante proveniente de diferentes instituciones, por lo que su
            información quedará registrada para su consulta en cualquier
            momento.
            <br />
            <br />
            <span
              >A continuación se presenta un breve formulario, en el cual se le
              dará la postestad de ingresar información. Recuerde guardar la
              misma cuando esté seguro que ingresó correctamente los datos.
              <br />
              Aquí una breve explicación.
            </span>
          </h5>
          <br />
          <a
            [routerLink]="['/ayuda-componentes']"
            class="btn btn-outline-default btn-round"
            target="_blank"
            ><i class="fas fa-question fa-lg fa-fw"></i>Ayuda de Componentes</a
          >
        </div>
      </div>
      <br /><br />
    </div>
  </div>

  <div class="section section-dark text-center">
    <div class="container">
      <h2 class="title">Registre un Pasante!!</h2>
      <form [formGroup]="forma" (ngSubmit)="guardarPasante()">
        <!-- Información Personal -->
        <div class="row justify-content-center" style="margin-top: 3em">
          <div class="col-md-10 seccion bg-dark">
            <h3 class="title">INFORMACIÓN PERSONAL</h3>
          </div>
        </div>

        <!-- Card Identificación -->
        <div class="row justify-content-center" style="margin-top: 2em">
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-12">
                <p-card
                  header="Identificación"
                  subheader="Ingrese la identificación o pasaporte del Pasante."
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div class="head">
                      <i class="far fa-id-card fa-3x fa-fw icono"></i>
                    </div>
                  </p-header>
                  <div class="row justify-content-center componente">
                    <div class="ui-inputgroup">
                      <span class="ui-inputgroup-addon">
                        <i
                          class="fas fa-id-card-alt fa-lg"
                          style="line-height: 1"
                        ></i
                      ></span>
                      <!-- <p-autoComplete
                        [suggestions]="filteredCountriesSingle"
                        (completeMethod)="filterCountrySingle($event)"
                        field="name"
                        [size]="35"
                        placeholder="Identificación"
                        [minLength]="1"
                        formControlName="identificacion"
                      ></p-autoComplete> -->
                      <input
                        type="text"
                        placeholder="Identificación"
                        pInputText
                        size="35"
                        formControlName="identificacion"
                      />
                    </div>
                    <div class="row justify-content-center">
                      <p-message
                        severity="error"
                        text=" Se requiere la Identificación"
                        *ngIf="invalidos('identificacion')"
                        style="margin-top: 1em"
                      ></p-message>
                    </div>
                  </div>
                </p-card>
              </div>
            </div>
            <br />

            <!-- Card Sexo -->
            <div class="row">
              <div class="col-md-12">
                <p-card
                  header="Sexo"
                  subheader="Ingrese el sexo del Pasante"
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div style="background-color: #cfcfcf">
                      <i class="fas fa-genderless fa-3x fa-fw icono"></i>
                    </div>
                  </p-header>
                  <div class="row justify-content-center componente">
                    <div class="ui-inputgroup">
                      <span class="ui-inputgroup-addon">
                        <i
                          class="fas fa-hand-point-right fa-lg"
                          style="line-height: 1"
                        ></i
                      ></span>
                      <p-dropdown
                        [options]="sexo"
                        optionLabel="name"
                        (ngModelChange)="sexoSeleccionado($event)"
                        placeholder="Seleccione un sexo"
                        formControlName="sexo"
                      ></p-dropdown>
                    </div>
                    <div
                      class="row justify-content-center"
                      style="margin-top: 0.5em"
                    >
                      <div class="col-md-12">
                        <p-message
                          severity="error"
                          text=" Debe seleccionar el Sexo del Pasante"
                          *ngIf="invalidos('sexo')"
                        ></p-message>
                      </div>
                    </div>
                  </div>
                </p-card>
              </div>
            </div>
            <br />

            <!-- Card Correo -->
            <div class="row">
              <div class="col-md-12">
                <p-card
                  header="Correo"
                  subheader="Ingrese el correo del Pasante, para mantenerse en contacto."
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div style="background-color: #cfcfcf">
                      <i class="far fa-envelope fa-3x fa-fw icono"></i>
                    </div>
                  </p-header>
                  <div class="row justify-content-center componente">
                    <div class="ui-inputgroup">
                      <span class="ui-inputgroup-addon">
                        <i class="fas fa-at fa-lg" style="line-height: 1"></i
                      ></span>
                      <input
                        type="email"
                        placeholder="Correo"
                        pInputText
                        size="35"
                        formControlName="correo"
                      />
                    </div>
                    <div class="row justify-content-center">
                      <p-message
                        severity="error"
                        text=" Debe ingresar el Correo del Pasante"
                        *ngIf="invalidos('correo')"
                        style="margin-top: 1em"
                      ></p-message>
                    </div>
                  </div>
                </p-card>
              </div>
            </div>
          </div>

          <!-- Nombre y Apellidos -->
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-12">
                <p-card
                  header="Nombres y Apellidos"
                  subheader="Ingrese los nombres y los apellidos del Pasante."
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div class="head">
                      <i class="fas fa-user fa-3x fa-fw icono"></i>
                    </div>
                  </p-header>
                  <div
                    class="row justify-content-center componente"
                    formGroupName="identidad"
                  >
                    <div class="ui-inputgroup">
                      <span class="ui-inputgroup-addon">
                        <i
                          class="fas fa-signature fa-lg"
                          style="line-height: 1"
                        ></i
                      ></span>
                      <input
                        type="text"
                        placeholder="Nombres"
                        pInputText
                        size="35"
                        formControlName="nombres"
                      />
                    </div>

                    <div class="row justify-content-center">
                      <p-message
                        severity="error"
                        text=" Se requiere el Nombre del Pasante"
                        *ngIf="noNombres"
                        style="margin-top: 1em; margin-bottom: 1em"
                      ></p-message>
                    </div>
                    <div class="ui-inputgroup">
                      <span class="ui-inputgroup-addon">
                        <i
                          class="fas fa-signature fa-lg"
                          style="line-height: 1"
                        ></i
                      ></span>
                      <input
                        type="text"
                        placeholder="Apellidos"
                        size="35"
                        pInputText
                        formControlName="apellidos"
                      />
                    </div>
                    <div class="row justify-content-center">
                      <p-message
                        severity="error"
                        text=" Se requiere el Apellido del Pasante"
                        *ngIf="noApellidos"
                        style="margin-top: 1em"
                      ></p-message>
                    </div>
                  </div>
                </p-card>
              </div>
            </div>
            <br />

            <!-- Card Edad -->
            <div class="row">
              <div class="col-md-12">
                <p-card
                  header="Edad"
                  subheader="Ingrese la edad del Pasante."
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div style="background-color: #cfcfcf">
                      <i class="fas fa-hourglass-half fa-3x fa-fw icono"></i>
                    </div>
                  </p-header>
                  <div class="row justify-content-center componente">
                    <div class="ui-inputgroup">
                      <span class="ui-inputgroup-addon">
                        <i
                          class="fas fa-user-clock fa-lg"
                          style="line-height: 1"
                        ></i
                      ></span>
                      <p-inputNumber
                        mode="decimal"
                        [min]="17"
                        [max]="100"
                        placeholder="Edad"
                        size="15"
                        formControlName="edad"
                      >
                      </p-inputNumber>
                    </div>
                    <div class="row justify-content-center">
                      <p-message
                        severity="error"
                        text=" Debe ingresar la Edad del Pasante"
                        *ngIf="invalidos('edad')"
                        style="margin-top: 1em"
                      ></p-message>
                    </div>
                  </div>
                </p-card>
              </div>
            </div>
            <br />

            <!-- Card Contacto -->
            <div class="row">
              <div class="col-md-12">
                <p-card
                  header="Contacto"
                  subheader="Ingrese el número celular del Pasante, para cualquier aviso."
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div style="background-color: #cfcfcf">
                      <i class="fas fa-phone fa-3x fa-fw icono"></i>
                    </div>
                  </p-header>
                  <div class="row justify-content-center componente">
                    <div class="ui-inputgroup">
                      <span class="ui-inputgroup-addon">
                        <i
                          class="fas fa-phone-square-alt fa-lg"
                          style="line-height: 1"
                        ></i
                      ></span>
                      <p-inputMask
                        mask="0999999999"
                        placeholder="Celular"
                        formControlName="contacto"
                      ></p-inputMask>
                    </div>
                    <div class="row justify-content-center">
                      <p-message
                        severity="error"
                        text=" Debe ingresar el Contacto del Pasante"
                        *ngIf="invalidos('contacto')"
                        style="margin-top: 1em"
                      ></p-message>
                    </div>
                  </div>
                </p-card>
              </div>
            </div>
          </div>
        </div>

        <!-- Card Sangre -->
        <!-- <div class="row justify-content-center">
          <div class="col-md-5">
            <p-card
              header="Tipo de Sangre"
              subheader="Ingrese el tipo de sangre del Pasante."
              styleClass="ui-card-shadow"
            >
              <p-header>
                <div style="background-color: #cfcfcf;">
                  <i class="fas fa-syringe fa-3x fa-fw icono"></i>
                </div>
              </p-header>
              <div class="form-group">
                <br />
                <p-dropdown
                  [options]="tipo_sangre"
                  optionLabel="name"
                  (ngModelChange)="sangreSeleccionada($event)"
                  placeholder="Seleccione un Tipo de Sangre "
                  size="30"
                  filter="true"
                  formControlName="tipo_sangre"
                ></p-dropdown>
                <div class="row justify-content-center">
                  <p-message
                    severity="error"
                    text=" Debe seleccionar un Tipo de Sangre"
                    *ngIf="invalidos('tipo_sangre')"
                    style="margin-top: 1em;"
                  ></p-message>
                </div>
              </div>
            </p-card>
          </div>
        </div> -->
        <!-- <br /> -->
        <br />

        <!-- Información Adicional -->
        <div class="row justify-content-center" style="margin-top: 3em">
          <div class="col-md-10 seccion bg-dark">
            <h3 class="title">INFORMACIÓN ADICIONAL</h3>
          </div>
        </div>

        <div class="row justify-content-center" style="margin-top: 2em">
          <div class="col-md-5">
            <!-- Card Institución -->
            <div class="row">
              <div class="col-md-12">
                <p-card
                  header="Institución"
                  subheader="Ingrese el nombre de la Institución en la que se encuentra el pasante."
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div class="head">
                      <i class="fas fa-university fa-3x fa-fw icono"></i>
                    </div>
                  </p-header>
                  <div class="row justify-content-center componente">
                    <br />
                    <p-listbox
                      [options]="universidades"
                      formControlName="institucion"
                      [listStyle]="{ 'max-height': '250px' }"
                      (onClick)="universidadSeleccionada($event)"
                    >
                      <ng-template let-item pTemplate="item">
                        <div class="ui-helper-clearfix">
                          <img
                            src="assets/img/Logos Universidades/{{
                              item.value
                            }}.png"
                            style="display: inline-block; margin: 5px 0 0 5px"
                            width="48"
                          />
                          <div class="row justify-content-center">
                            <span style="float: right; margin: 10px 10px 0 0">{{
                              item.name
                            }}</span>
                          </div>
                        </div>
                      </ng-template>
                      <p-footer>
                        Ha seleccionado: {{ universidad || "Ninguno" }}
                      </p-footer>
                    </p-listbox>

                    <p-dialog
                      header="Nombre de Institución"
                      [(visible)]="mostrarModal"
                      [focusOnShow]="false"
                      showEffect="fade"
                      [modal]="true"
                      [style]="{ width: '300px' }"
                    >
                      <div class="p-grid ui-fluid">
                        <div class="p-col-8">
                          <input
                            pInputText
                            formControlName="institucion"
                            placeholder="Ingrese Nombre"
                            (change)="nuevaInstitucion($event)"
                          />
                        </div>
                      </div>
                      <p-footer>
                        <div
                          class="ui-dialog-buttonpane ui-helper-clearfix row justify-content-center"
                        >
                          <button
                            type="button"
                            class="btn btn-outline-success btn-round btn-sm"
                            (click)="cerrarModal()"
                          >
                            <i class="fas fa-save fa-lg fa-fw"></i> Guardar
                          </button>
                        </div>
                      </p-footer>
                    </p-dialog>

                    <div
                      class="row justify-content-center"
                      style="margin-top: 0.5em"
                    >
                      <div class="col-md-12">
                        <p-message
                          severity="error"
                          text=" Debe seleccionar una Institución"
                          *ngIf="invalidos('institucion')"
                          style="margin-top: 1em"
                        ></p-message>
                      </div>
                    </div>
                  </div>
                </p-card>
              </div>
            </div>
            <br />

            <!-- Card Especialidad -->
            <div class="row">
              <div class="col-md-12">
                <p-card
                  header="Especialidad"
                  subheader="Ingrese la especialidad correspondiente al campo del Pasante."
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div class="head">
                      <i class="fas fa-user-md fa-3x fa-fw icono"></i>
                    </div>
                  </p-header>
                  <div class="row justify-content-center componente">
                    <div class="ui-inputgroup">
                      <span class="ui-inputgroup-addon">
                        <i
                          class="fas fa-check-square fa-lg"
                          style="line-height: 1"
                        ></i
                      ></span>
                      <input
                        type="text"
                        placeholder="Especialidad"
                        pInputText
                        size="35"
                        formControlName="especialidad"
                      />
                    </div>
                    <div class="row justify-content-center">
                      <p-message
                        severity="error"
                        text=" Debe ingresar una especialidad"
                        *ngIf="invalidos('especialidad')"
                        style="margin-top: 1em"
                      ></p-message>
                    </div>
                  </div>
                </p-card>
              </div>
            </div>
          </div>

          <div class="col-md-5">
            <!-- Card Tutor -->
            <div class="row">
              <div class="col-md-12">
                <p-card
                  header="Tutor"
                  subheader="Ingrese el nombre del tutor a cargo del Pasante."
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div class="head">
                      <i class="fab fa-leanpub fa-3x fa-fw icono"></i>
                    </div>
                  </p-header>
                  <div class="row justify-content-center componente">
                    <div class="ui-inputgroup">
                      <span class="ui-inputgroup-addon">
                        <i
                          class="fas fa-user-tie fa-lg"
                          style="line-height: 1"
                        ></i
                      ></span>
                      <p-autoComplete
                        [suggestions]="filteredCountriesSingle"
                        (completeMethod)="filterCountrySingle($event)"
                        field="name"
                        [size]="35"
                        placeholder="Nombre o Identificación"
                        [minLength]="1"
                        formControlName="tutor"
                      ></p-autoComplete>
                    </div>
                    <div class="row justify-content-center">
                      <p-message
                        severity="error"
                        text=" Debe ingresar un Docente"
                        *ngIf="invalidos('tutor')"
                        style="margin-top: 1em"
                      ></p-message>
                    </div>
                  </div>
                </p-card>
              </div>
            </div>
            <br />

            <!-- Card Fecha de Inicio -->
            <div class="row">
              <div class="col-md-12">
                <p-card
                  header="Fecha de Inicio"
                  subheader="Ingrese la Fecha de Inicio de las actividades del Pasante."
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div class="head">
                      <i class="far fa-calendar-check fa-3x fa-fw icono"></i>
                    </div>
                  </p-header>

                  <div class="row justify-content-center componente">
                    <div class="ui-inputgroup">
                      <span class="ui-inputgroup-addon">
                        <i
                          class="fas fa-calendar-alt fa-lg"
                          style="line-height: 1"
                        ></i
                      ></span>
                      <p-calendar
                        [locale]="es"
                        dateFormat="dd/mm/yy"
                        placeholder="Fecha de Visita"
                        formControlName="fecha_inicio"
                        (onSelect)="mostrarFecha($event)"
                        [showWeek]="true"
                      ></p-calendar>
                    </div>
                    <div class="row justify-content-center">
                      <div class="col-md-12">
                        <br />
                        <p-message
                          severity="error"
                          text=" Debe seleccionar el Día de Ingreso"
                          *ngIf="invalidos('fecha_inicio')"
                        ></p-message>
                      </div>
                    </div>
                  </div>
                </p-card>
              </div>
            </div>
            <br />

            <!-- Card Aula -->
            <!-- <div class="row">
              <div class="col-md-12">
                <p-card
                  header="Asignación a un Aula"
                  subheader="Ingrese el nombre del Aula al que pertenece el Pasante."
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div class="head">
                      <i class="fas fa-child fa-3x fa-fw icono"></i>
                    </div>
                  </p-header>
                  <div class="row justify-content-center componente">
                    <div class="ui-inputgroup">
                      <span class="ui-inputgroup-addon">
                        <i
                          class="fas fa-door-open fa-lg"
                          style="line-height: 1"
                        ></i
                      ></span>
                      <p-autoComplete
                        [suggestions]="filteredCountriesSingle"
                        (completeMethod)="filterCountrySingle($event)"
                        field="name"
                        [size]="35"
                        placeholder="Aula"
                        [minLength]="1"
                        formControlName="asignacion_aula"
                      ></p-autoComplete>
                    </div>
                    <div class="row justify-content-center">
                      <p-message
                        severity="error"
                        text=" Debe seleccionar un Aula"
                        *ngIf="invalidos('asignacion_aula')"
                        style="margin-top: 1em"
                      ></p-message>
                    </div>
                  </div>
                </p-card>
              </div>
            </div>
            <br /> -->

            <!-- Card Horas -->
            <div class="row">
              <div class="col-md-12">
                <p-card
                  header="Horas al Día"
                  subheader="Ingrese el número de horas promedio diarias que realiza el Pasante."
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div class="head">
                      <i class="far fa-clock fa-3x fa-fw icono"></i>
                    </div>
                  </p-header>
                  <div class="form-group">
                    <h4 style="margin-bottom: 0.5em">#Horas: {{ numHoras }}</h4>
                    <p-slider
                      [style]="{ width: '14em' }"
                      [step]="1"
                      max="9"
                      id="horas"
                      formControlName="num_horas"
                    ></p-slider>
                    <div class="row justify-content-center">
                      <p-message
                        severity="error"
                        text=" Debe seleccionar el Número de Horas"
                        *ngIf="invalidos('num_horas')"
                        style="margin-top: 1em"
                      ></p-message>
                    </div>
                  </div>
                </p-card>
              </div>
            </div>
          </div>
        </div>
        <br />

        <button
          type="submit"
          class="btn btn-outline-neutral btn-round btn-lg"
          [disabled]="!forma.valid"
          style="margin-top: 1em"
        >
          <i class="fas fa-save fa-lg fa-fw"></i> Registrar Pasante
        </button>
      </form>
    </div>
  </div>

  <div class="section landing-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="text-center">Información de Pasantes</h2>
          <br />

          <p-table
            [columns]="cols"
            [value]="pasantes"
            dataKey="_id"
            [resizableColumns]="true"
            [scrollable]="true"
            scrollHeight="400px"
            styleClass="ui-table-summary"
            selectionMode="single"
            [(selection)]="pasante_seleccionado"
            (onRowSelect)="onRowSelect($event)"
          >
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col />
                <col *ngFor="let col of columns" />
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th style="width: 3em"></th>
                <th *ngFor="let col of columns" pResizableColumn>
                  {{ col.header }}
                </th>
              </tr>
            </ng-template>
            <ng-template
              pTemplate="body"
              let-rowData
              let-expanded="expanded"
              let-columns="columns"
            >
              <tr [pSelectableRow]="rowData">
                <td style="width: 3em">
                  <a href="#" [pRowToggler]="rowData">
                    <i
                      [ngClass]="
                        expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'
                      "
                    ></i>
                  </a>
                </td>
                <td>
                  {{ rowData.persona.identificacion }}
                </td>
                <td>
                  {{ rowData.persona.primer_nombre }}
                  {{ rowData.persona.segundo_nombre }}
                </td>
                <td>
                  {{ rowData.persona.primer_apellido }}
                  {{ rowData.persona.segundo_apellido }}
                </td>
                <td>
                  {{ rowData.institucion }}
                </td>
                <td>
                  {{ rowData.tutor.persona.primer_nombre }}
                  {{ rowData.tutor.persona.primer_apellido }}
                </td>

                <!-- <td
                  *ngFor="let col of columns; let i = index"
                  class="ui-resizable-column"
                >
                  {{ rowData[col.field] }}
                </td> -->
              </tr>
            </ng-template>
            <ng-template
              pTemplate="rowexpansion"
              let-rowData
              let-columns="columns"
            >
              <tr>
                <td [attr.colspan]="columns.length + 1">
                  <div
                    class="p-grid ui-fluid"
                    style="font-size: 16px; padding: 20px"
                    [@rowExpansionTrigger]="'active'"
                  >
                    <div class="row justify-content-center">
                      <div class="col-md-6">
                        <div class="p-grid">
                          <div class="p-col-12">
                            <b>Cédula:</b>
                            {{ rowData.persona.identificacion }}
                          </div>
                          <div class="p-col-12">
                            <b>Nombres:</b>
                            {{ rowData.persona.primer_nombre }}
                            {{ rowData.persona.segundo_nombre }}
                          </div>
                          <div class="p-col-12">
                            <b>Apellidos:</b>
                            {{ rowData.persona.primer_apellido }}
                            {{ rowData.persona.segundo_apellido }}
                          </div>
                          <div class="p-col-12">
                            <b>Correo:</b>
                            {{ rowData.persona.correo }}
                          </div>
                          <div class="p-col-12">
                            <b>Contacto:</b> {{ rowData.persona.contacto }}
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="p-grid">
                          <div class="p-col-12">
                            <b>Institución:</b>
                            {{ rowData.institucion }}
                          </div>
                          <div class="p-col-12">
                            <b>Instructor:</b>
                            {{ rowData.tutor.persona.primer_nombre }}
                            {{ rowData.tutor.persona.primer_apellido }}
                          </div>
                          <div class="p-col-12">
                            <b>Especialidad:</b>
                            {{ rowData.especialidad }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>

          <p-dialog
            header="DETALLES DE PASANTE"
            [(visible)]="displayDialog"
            [focusOnShow]="false"
            showEffect="fade"
            [modal]="true"
            [style]="{ width: '650px' }"
          >
            <div class="row justify-content-center" *ngIf="pasante_editar">
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-12">
                    <label for="_id" class="fuente">IDENTIFICACIÓN</label>
                    <input
                      type="text"
                      placeholder="Identificación"
                      pInputText
                      size="20"
                      [(ngModel)]="pasante_editar.persona.identificacion"
                    />
                  </div>
                </div>
                <div class="row justify-content-center edicion">
                  <div class="col-md-12">
                    <label class="fuente">NOMBRES Y APELLIDOS</label>
                    <input
                      type="text"
                      placeholder="Primer Nombre"
                      pInputText
                      size="20"
                      [(ngModel)]="pasante_editar.persona.primer_nombre"
                    />
                    <input
                      type="text"
                      placeholder="Segundo Nombre"
                      pInputText
                      size="20"
                      [(ngModel)]="pasante_editar.persona.segundo_nombre"
                    />
                    <input
                      type="text"
                      placeholder="Primer Apellido"
                      pInputText
                      size="20"
                      [(ngModel)]="pasante_editar.persona.primer_apellido"
                    />
                    <input
                      type="text"
                      placeholder="Segundo Apellido"
                      pInputText
                      size="20"
                      [(ngModel)]="pasante_editar.persona.segundo_apellido"
                    />
                  </div>
                </div>
                <div class="row edicion">
                  <div class="col-md-12">
                    <label class="fuente">CORREO</label>
                    <input
                      type="email"
                      placeholder="Correo"
                      pInputText
                      size="20"
                      [(ngModel)]="pasante_editar.persona.correo"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row edicion">
                  <div class="col-md-12">
                    <label for="tutor" class="fuente">FECHA DE INICIO</label>
                    <p-calendar
                      [locale]="es"
                      dateFormat="dd/mm/yy"
                      placeholder="Fecha de Visita"
                      [(ngModel)]="pasante_editar.fecha_inicio"
                      (onSelect)="mostrarFecha($event)"
                      [showWeek]="true"
                    ></p-calendar>
                  </div>
                </div>
                <div class="row edicion">
                  <div class="col-md-12">
                    <label for="email" class="fuente">EDAD</label>
                    <p-inputNumber
                      mode="decimal"
                      [min]="17"
                      [max]="80"
                      placeholder="Edad"
                      size="20"
                      [(ngModel)]="pasante_editar.persona.edad"
                    >
                    </p-inputNumber>
                  </div>
                </div>
                <div class="row edicion">
                  <div class="col-md-12">
                    <label class="fuente">GÉNERO</label>
                    <p-dropdown
                      [options]="sexo"
                      optionLabel="name"
                      (ngModelChange)="sexoSeleccionado($event)"
                      placeholder="Seleccione un sexo"
                      [(ngModel)]="selectedSex"
                      [style]="{ minWidth: '170px', width: '170px' }"
                    ></p-dropdown>
                  </div>
                </div>
                <div class="row edicion">
                  <div class="col-md-12">
                    <label class="fuente">CONTACTO</label>
                    <p-inputMask
                      mask="0999999999"
                      placeholder="Celular"
                      [(ngModel)]="pasante_editar.persona.contacto"
                    ></p-inputMask>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="row edicion">
                  <div class="col-md-12">
                    <label class="fuente">INSTITUCIÓN</label>
                    <p-autoComplete
                      [suggestions]="universidades_editar"
                      (completeMethod)="filtrarUniversidad($event)"
                      [size]="15"
                      [minLength]="1"
                      placeholder="Institución"
                      [dropdown]="true"
                      [(ngModel)]="auto_universidad"
                      field="name"
                    >
                      <ng-template let-brand pTemplate="item">
                        <div class="ui-helper-clearfix">
                          <div style="font-size: 12px; margin: 0.5em">
                            {{ brand.name }}
                          </div>
                        </div>
                      </ng-template>
                    </p-autoComplete>
                  </div>
                </div>
                <div class="row edicion">
                  <div class="col-md-12">
                    <label for="tutor" class="fuente">TUTOR</label>
                    <p-autoComplete
                      [suggestions]="docentes_filtrados"
                      (completeMethod)="filtrarDocente($event)"
                      [size]="15"
                      name="tutor"
                      [minLength]="1"
                      placeholder="Docente"
                      [dropdown]="true"
                      [(ngModel)]="pasante_editar.tutor"
                      field="persona.identificacion"
                    >
                      <ng-template let-brand pTemplate="item">
                        <div class="ui-helper-clearfix">
                          <div
                            style="
                              font-size: 10px;
                              display: inline-block;
                              margin: 5px 5px 0 0;
                            "
                          >
                            {{ brand.persona.identificacion }}
                          </div>
                          <div
                            style="
                              font-size: 12px;
                              float: right;
                              margin: 8px 3px 0 0;
                            "
                          >
                            {{ brand.persona.primer_nombre }}
                            {{ brand.persona.primer_apellido }}
                          </div>
                        </div>
                      </ng-template>
                    </p-autoComplete>
                  </div>
                </div>
                <div class="row edicion">
                  <div class="col-md-12">
                    <label for="tutor" class="fuente">ESPECIALIDAD</label>
                    <input
                      type="text"
                      placeholder="Especialidad"
                      pInputText
                      size="20"
                      [(ngModel)]="pasante_editar.especialidad"
                    />
                  </div>
                </div>
                <div class="row edicion">
                  <div class="col-md-12">
                    <label class="fuente">HORAS AL DÍA</label>
                    <h6>#Horas: {{ pasante_editar.num_horas }}</h6>
                    <p-slider
                      [style]="{ width: '10em' }"
                      [step]="1"
                      max="9"
                      [(ngModel)]="pasante_editar.num_horas"
                    ></p-slider>
                  </div>
                </div>
              </div>
            </div>
            <p-footer>
              <div
                class="ui-dialog-buttonpane ui-helper-clearfix row justify-content-center"
              >
                <button
                  type="button"
                  class="btn btn-outline-danger btn-round btn-sm"
                  (click)="delete()"
                >
                  <i class="fas fa-trash-alt fa-lg fa-fw"></i> Borrar
                </button>
                <button
                  type="button"
                  class="btn btn-outline-success btn-round btn-sm"
                  (click)="save()"
                >
                  <i class="fas fa-save fa-lg fa-fw"></i> Guardar
                </button>
              </div>
            </p-footer>
          </p-dialog>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="section landing-section"> -->
  <div class="container" style="margin-bottom: 10%">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-2">
            <i class="fas fa-quote-left fa-7x fa-fw"></i>
          </div>
          <div class="col-md-8">
            <div class="row text-center">
              <h2>Conóceme por mis habilidades, no por mis discapacidades.</h2>
            </div>
            <div class="row">
              <h5 style="margin-left: 70%; margin-top: 0.5em">
                - Robert M. Hensel -
              </h5>
            </div>
          </div>
          <div class="col-md-2" style="margin-top: 12%">
            <i class="fas fa-quote-right fa-7x fa-fw"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>
