<div
  class="page-header"
  data-parallax="true"
  style="background-image: url('./assets/img/IPCA/pasantes fondo.jpg');"
>
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <br />
      <h1 class="titulo">IPCAsist</h1>
      <h3 class="titulo">Registro de Pasantes</h3>
      <br />
      <a
        href="https://www.youtube.com/channel/UCdaO3AoDM186eC32Hs7Hx6Q/videos"
        class="btn btn-outline-neutral btn-round"
        target="_blank"
        ><i class="fa fa-play fa-lg fa-fw"></i> Vídeo Informativo</a
      >
    </div>
  </div>
</div>

<div class="main">
  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="title">Breve Descripción</h2>
          <h5 class="description">
            Desde este módulo se puede ingresar la información y registrar al
            pasante proveniente de diferentes instituciones, por lo que su
            información quedará registrada para su consulta en cualquier
            momento.
            <br />
            <br />
            <span
              >A continuación se presenta un breve formulario, en el cual se le
              dará la postestad de ingresar información. Recuerde guardar la
              misma cuando esté seguro que ingresó correctamente los datos.
              <br />
              Aquí una breve explicación.
            </span>
          </h5>
          <br />
          <a
            href="#paper-kit"
            class="btn btn-outline-default btn-round"
            target="_blank"
            ><i class="fas fa-question fa-lg fa-fw"></i>Ayuda de Componentes</a
          >
        </div>
      </div>
      <br /><br />
    </div>
  </div>

  <div class="section section-dark text-center">
    <div class="container">
      <h2 class="title">Registre un Pasante!!</h2>

      <!-- Información Personal -->
      <div class="row" style="margin-top: 3em;">
        <div class="col-md-4 text-center seccion bg-dark">
          <h3 class="title">Información Personal</h3>
        </div>
      </div>

      <!-- Card Identificación -->
      <div class="row justify-content-center" style="margin-top: 2em;">
        <div class="col-md-4" id="card-cedula">
          <p-card
            header="Identificación"
            subheader="Ingrese la identificación o pasaporte del Pasante."
            styleClass="ui-card-shadow"
          >
            <p-header>
              <div class="head">
                <i class="far fa-id-card fa-3x fa-fw icono"></i>
              </div>
            </p-header>
            <div class="form-group">
              <br />
              <p-autoComplete
                styleClass="cedula"
                [(ngModel)]="country"
                [suggestions]="filteredCountriesSingle"
                (completeMethod)="filterCountrySingle($event)"
                field="name"
                [size]="35"
                placeholder="Identificación"
                [minLength]="1"
              ></p-autoComplete>
            </div>
            <!-- <p-footer>
              <i class="fa fa-arrow-down fa-3x" aria-hidden="true"></i>
            </p-footer> -->
          </p-card>
        </div>

        <!-- Nombre y Apellidos -->
        <div class="col-md-4">
          <p-card
            header="Nombres y Apellidos"
            subheader="Ingrese los nombres y los apellidos del Pasante."
            styleClass="ui-card-shadow"
          >
            <p-header>
              <div class="head">
                <i class="fas fa-user fa-3x fa-fw icono"></i>
              </div>
            </p-header>
            <div class="form-group">
              <br />
              <input type="text" placeholder="Nombres" pInputText size="35" />
              <input type="text" placeholder="Apellidos" size="35" pInputText />
            </div>
            <!-- <p-footer>
              <i class="fa fa-arrow-down fa-3x" aria-hidden="true"></i>
            </p-footer> -->
          </p-card>
        </div>
      </div>
      <br />

      <!-- Card Sexo -->
      <div class="row justify-content-center">
        <div class="col-md-4">
          <p-card
            header="Sexo"
            subheader="Ingrese el sexo del Pasante"
            styleClass="ui-card-shadow"
          >
            <p-header>
              <div style="background-color: #cfcfcf;">
                <i class="fas fa-genderless fa-3x fa-fw icono"></i>
              </div>
            </p-header>
            <div class="form-group">
              <br />
              <p-dropdown
                [options]="sexo"
                [(ngModel)]="selectedSex"
                optionLabel="name"
                (ngModelChange)="sexoSeleccionado($event)"
                placeholder="Seleccione un sexo"
              ></p-dropdown>
            </div>
            <!-- <p-footer>
              <i class="fa fa-arrow-down fa-3x" aria-hidden="true"></i>
            </p-footer> -->
          </p-card>
        </div>

        <!-- Card Edad -->
        <div class="col-md-4">
          <p-card
            header="Edad"
            subheader="Ingrese la edad del Pasante."
            styleClass="ui-card-shadow"
          >
            <p-header>
              <div style="background-color: #cfcfcf;">
                <i class="fas fa-hourglass-half fa-3x fa-fw icono"></i>
              </div>
            </p-header>
            <div class="form-group">
              <br />
              <p-inputNumber
                [(ngModel)]="value4"
                mode="decimal"
                [min]="17"
                [max]="100"
                placeholder="Edad"
                size="15"
              >
              </p-inputNumber>
            </div>
            <!-- <p-footer>
              <i class="fa fa-arrow-down fa-3x" aria-hidden="true"></i>
            </p-footer> -->
          </p-card>
        </div>
      </div>
      <br />

      <!-- Card Email -->
      <div class="row justify-content-center">
        <div class="col-md-4">
          <p-card
            header="Correo"
            subheader="Ingrese el correo del Pasante, para mantenerse en contacto."
            styleClass="ui-card-shadow"
          >
            <p-header>
              <div style="background-color: #cfcfcf;">
                <i class="far fa-envelope fa-3x fa-fw icono"></i>
              </div>
            </p-header>
            <div class="form-group">
              <br />
              <input
                type="email"
                placeholder="Correo"
                pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"
                pInputText
                size="35"
              />
            </div>
            <!-- <p-footer>
              <i class="fa fa-arrow-down fa-3x" aria-hidden="true"></i>
            </p-footer> -->
          </p-card>
        </div>

        <!-- Card Celular -->
        <div class="col-md-4">
          <p-card
            header="Contacto"
            subheader="Ingrese el número celular del Pasante, para cualquier aviso."
            styleClass="ui-card-shadow"
          >
            <p-header>
              <div style="background-color: #cfcfcf;">
                <i class="fas fa-phone fa-3x fa-fw icono"></i>
              </div>
            </p-header>
            <div class="form-group">
              <br />
              <p-inputMask
                [(ngModel)]="celular"
                mask="0999999999"
                placeholder="Celular"
              ></p-inputMask>
            </div>
            <!-- <p-footer>
              <i class="fa fa-arrow-down fa-3x" aria-hidden="true"></i>
            </p-footer> -->
          </p-card>
        </div>
      </div>
      <br />

      <!-- Card Sangre -->
      <div class="row justify-content-center">
        <div class="col-md-5">
          <p-card
            header="Tipo de Sangre"
            subheader="Ingrese el tipo de sangre del Pasante."
            styleClass="ui-card-shadow"
          >
            <p-header>
              <div style="background-color: #cfcfcf;">
                <i class="fas fa-syringe fa-3x fa-fw icono"></i>
              </div>
            </p-header>
            <div class="form-group">
              <br />
              <p-dropdown
                [options]="tipo_sangre"
                [(ngModel)]="tipo"
                optionLabel="name"
                (ngModelChange)="sangreSeleccionada($event)"
                placeholder="Seleccione un Tipo de Sangre "
                size="30"
                filter="true"
              ></p-dropdown>
            </div>
            <!-- <p-footer>
              <i class="fa fa-arrow-down fa-3x" aria-hidden="true"></i>
            </p-footer> -->
          </p-card>
        </div>
      </div>
      <br />
      <br />

      <!-- Información Adicional -->
      <div class="row" style="margin-top: 3em;">
        <div class="col-md-4 text-center seccion bg-dark">
          <h3 class="title">Información Adicional</h3>
        </div>
      </div>

      <div class="row justify-content-center" style="margin-top: 2em;">
        <!-- Card Institución -->
        <div class="col-md-4">
          <p-card
            header="Institución"
            subheader="Ingrese el nombre de la Institución en la que se encuentra el pasante."
            styleClass="ui-card-shadow"
          >
            <p-header>
              <div class="head">
                <i class="fas fa-university fa-3x fa-fw icono"></i>
              </div>
            </p-header>
            <div class="form-group">
              <br />
              <p-dropdown
                [options]="universidades"
                [(ngModel)]="universidad"
                optionLabel="name"
                (ngModelChange)="universidadSeleccionada($event)"
                filter="true"
                placeholder="Seleccione un Instituto"
              >
                <ng-template
                  *ngFor="let item of universidades"
                  pTemplate="selectedItem"
                >
                  <img
                    src="assets/img/Logos Universidades/{{ item.value }}.png"
                    style="width: 16px; vertical-align: middle;"
                  />
                  <span style="vertical-align: middle; margin-left: 0.5em;">{{
                    item.name
                  }}</span>
                </ng-template>
                <ng-template
                  *ngFor="let insti of universidades"
                  pTemplate="item"
                >
                  <div
                    class="ui-helper-clearfix"
                    style="position: relative; height: 25px;"
                  >
                    <img
                      src="assets/img/Logos Universidades/{{ insti.value }}.png"
                      style="
                        width: 24px;
                        position: absolute;
                        top: 1px;
                        left: 5px;
                      "
                    />
                    <div
                      style="font-size: 14px; float: right; margin-top: 4px;"
                    >
                      {{ insti.name }}
                    </div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
            <!-- <p-footer>
              <i class="fa fa-arrow-down fa-3x" aria-hidden="true"></i>
            </p-footer> -->
          </p-card>
        </div>

        <!-- Card Tutor -->
        <div class="col-md-4">
          <p-card
            header="Tutor"
            subheader="Ingrese el nombre del tutor a cargo del Pasante."
            styleClass="ui-card-shadow"
          >
            <p-header>
              <div class="head">
                <i class="fab fa-leanpub fa-3x fa-fw icono"></i>
              </div>
            </p-header>
            <div class="form-group">
              <br />
              <p-autoComplete
                styleClass="cedula"
                [(ngModel)]="country"
                [suggestions]="filteredCountriesSingle"
                (completeMethod)="filterCountrySingle($event)"
                field="name"
                [size]="35"
                placeholder="Nombre o Identificación"
                [minLength]="1"
              ></p-autoComplete>
            </div>
            <!-- <p-footer>
              <i class="fa fa-arrow-down fa-3x" aria-hidden="true"></i>
            </p-footer> -->
          </p-card>
        </div>
      </div>

      <div class="row justify-content-center" style="margin-top: 2em;">
        <!-- Card Aula -->
        <div class="col-md-4">
          <p-card
            header="Asignación a un Aula"
            subheader="Ingrese el nombre del Aula al que pertenece el Pasante."
            styleClass="ui-card-shadow"
          >
            <p-header>
              <div class="head">
                <i class="fas fa-child fa-3x fa-fw icono"></i>
              </div>
            </p-header>
            <div class="form-group">
              <br />
              <p-autoComplete
                styleClass="cedula"
                [(ngModel)]="country"
                [suggestions]="filteredCountriesSingle"
                (completeMethod)="filterCountrySingle($event)"
                field="name"
                [size]="35"
                placeholder="Aula"
                [minLength]="1"
              ></p-autoComplete>
            </div>
            <!-- <p-footer>
              <i class="fa fa-arrow-down fa-3x" aria-hidden="true"></i>
            </p-footer> -->
          </p-card>
        </div>

        <!-- Card Horas -->
        <div class="col-md-4">
          <p-card
            header="Horas al Día"
            subheader="Ingrese el número de horas promedio diarias que realiza el Pasante."
            styleClass="ui-card-shadow"
          >
            <p-header>
              <div class="head">
                <i class="far fa-clock fa-3x fa-fw icono"></i>
              </div>
            </p-header>
            <div class="form-group">
              <h4>#Horas: {{ num_horas }}</h4>
              <p-slider
                [(ngModel)]="num_horas"
                [style]="{ width: '14em' }"
                [step]="1"
                max="9"
                id="horas"
              ></p-slider>
            </div>
            <!-- <p-footer>
              <i class="fa fa-arrow-down fa-3x" aria-hidden="true"></i>
            </p-footer> -->
          </p-card>
        </div>
      </div>

      <div class="row justify-content-center" style="margin-top: 2em;">
        <!-- Card Fecha de Inicio -->
        <div class="col-md-5">
          <p-card
            header="Fecha de Inicio"
            subheader="Ingrese la Fecha de Inicio de las actividades del Pasante."
            styleClass="ui-card-shadow"
          >
            <p-header>
              <div class="head">
                <i class="far fa-calendar-check fa-3x fa-fw icono"></i>
              </div>
            </p-header>
            <div class="row">
              <!-- Horario de Entrada-->
              <div class="col-md-3">
                <div class="form-group">
                  <br />
                  <p-calendar
                    [(ngModel)]="date14"
                    [inline]="true"
                    [showWeek]="true"
                    class="fecha"
                    (onSelect)="mostrarFecha($event)"
                    [locale]="es"
                  ></p-calendar>
                </div>
              </div>
            </div>

            <!-- <p-footer>
              <i class="fa fa-arrow-down fa-3x" aria-hidden="true"></i>
            </p-footer> -->
          </p-card>
        </div>
      </div>
      <br />

      <br />

      <button type="button" class="btn btn-outline-neutral btn-round btn-lg">
        <i class="fas fa-save fa-lg fa-fw"></i> Registrar Pasante
      </button>
    </div>
  </div>

  <div class="section landing-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="text-center">Información de Pasantes</h2>
          <br />

          <p-table
            [value]="persons"
            [columns]="cols"
            [scrollable]="true"
            scrollHeight="200px"
            [resizableColumns]="true"
          >
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col *ngFor="let col of columns" />
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th *ngFor="let col of cols" pResizableColumn>
                  {{ col.header }}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-person>
              <tr>
                <td *ngFor="let col of cols">
                  {{ person[col.field] }}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
