.titulo {
  text-shadow: 1px 1px 1px black;
}

.icono {
  margin: 5px;
}
.head {
  background-color: #cfcfcf;
}

#card-cedula {
  margin-top: 1em;
}

.seccion {
  /* border-radius: 42px 42px 42px 42px;
  margin-left: 5em;
  border: 4px solid #ffffff;
  display: block;
  margin-left: auto;
  margin-right: auto; */

  border: 4px solid #ffffff;
}

#horas {
  position: relative;
  left: 25%;
  margin-left: auto;
}

.fecha {
  margin-left: 1em;
}

.componente {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

:host ::ng-deep p-listbox > .ui-listbox {
  width: 20rem !important;
}
