<div
  class="page-header"
  data-parallax="true"
  style="background-image: url('./assets/img/IPCA/portada docentes.jpg')"
>
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1 class="titulo">IPCAsist</h1>
      <h3 class="titulo">Asignación de Docentes</h3>
      <br />
      <a
        href="https://www.youtube.com/watch?v=7hUHMhUpVnw"
        class="btn btn-outline-neutral btn-round"
        target="_blank"
        ><i class="fa fa-play fa-lg fa-fw"></i> Vídeo Informativo</a
      >
      <!-- <button type="button" class="btn btn-outline-neutral btn-round">
        Download
      </button> -->
    </div>
  </div>
</div>
<div class="main">
  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="title">Breve Descripción</h2>
          <h5 class="description">
            En está página se ofrece la visualización de los datos de todos los
            docentes asignados a un aula.
            <br />
            <span
              >A continuación se presenta una tabla, en la cual se permite
              visualiazar detalladamente toda la información de las aulas, así
              como del personal que está invloucrado en las mismas.
              <!-- <br />
              Aquí una breve explicación. -->
            </span>
          </h5>
        </div>
      </div>
      <br /><br />
    </div>
  </div>

  <!-- FORMULARIO -->
  <div class="section section-dark text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-10 mr-auto ml-auto">
          <h2 class="title">INFORMACIÓN DE AULAS</h2>

          <br />
          <p-table
            #dt
            id="tabla_aulas"
            [columns]="cols"
            [value]="aulas"
            dataKey="id"
            [resizableColumns]="true"
            [scrollable]="true"
            scrollHeight="500px"
            styleClass="ui-table-summary"
            selectionMode="single"
            [(selection)]="aula"
            [globalFilterFields]="[
              'nombre',
              'docente.persona.primer_apellido',
              'capacidad',
              'periodo.nombre',
              'jornada'
            ]"
            [paginator]="true"
            [rows]="5"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
          >
            <ng-template pTemplate="caption">
              <div class="row">
                <div class="col-md-6" style="text-align: left">
                  <ng-template #contenido let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title">
                        Generar PDF por Períodos Lectivos
                      </h4>
                      <button
                        class="close"
                        aria-label="close"
                        type="button"
                        (click)="modalService.dismissAll()"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="row justify-content-center">
                        <div class="col-md-12" style="text-align: center">
                          <p>
                            Seleccione un Período Lectivo para generar el
                            documento
                          </p>
                        </div>
                        <div class="col-md-12" style="text-align: center">
                          <p-dropdown
                            [options]="periodos_lectivos"
                            [(ngModel)]="periodo_lectivo"
                            filter="true"
                            optionLabel="nombre"
                            placeholder="Período Lectivo"
                            (onChange)="filtrarContenido($event)"
                            pTooltip="Seleccione para Generar PDF"
                          >
                            <ng-template let-item pTemplate="selectedItem">
                              <span style="vertical-align: middle">{{
                                item.label
                              }}</span>
                            </ng-template>
                            <ng-template let-periodo pTemplate="item">
                              <div
                                class="ui-helper-clearfix"
                                style="height: 50px"
                              >
                                <div
                                  style="font-size: 14px; text-align: middle"
                                >
                                  {{ periodo.label }}
                                </div>
                              </div>
                            </ng-template>
                          </p-dropdown>
                        </div>
                        <br />
                        <p-dialog
                          header="Detalle de Documento"
                          [(visible)]="mostrarAdmin"
                          [style]="{ width: '20vw' }"
                        >
                          <div class="row justify-content-center">
                            <div class="col-md-12">
                              <span
                                class="ui-float-label"
                                style="margin-top: 2em"
                              >
                                <input
                                  id="float-input"
                                  type="text"
                                  size="30"
                                  pInputText
                                  [(ngModel)]="administracion.elaborado_por"
                                />
                                <label for="float-input">Elaborado Por</label>
                              </span>
                            </div>
                            <div class="col-md-12">
                              <span class="ui-float-label espacio">
                                <input
                                  id="float-input"
                                  type="text"
                                  size="30"
                                  pInputText
                                  [(ngModel)]="administracion.revisado_por"
                                />
                                <label for="float-input">Revisado Por</label>
                              </span>
                            </div>
                            <div class="col-md-12">
                              <span class="ui-float-label espacio">
                                <input
                                  id="float-input"
                                  type="text"
                                  size="30"
                                  pInputText
                                  [(ngModel)]="administracion.aprobado_por"
                                />
                                <label for="float-input">Aprobado Por</label>
                              </span>
                            </div>
                            <div
                              class="col-md-12 espacio"
                              style="text-align: center"
                            >
                              <button
                                type="button"
                                class="btn btn-outline-default btn-round btn-sm"
                                (click)="abrirPDF()"
                              >
                                <i class="fas fa-file-pdf fa-lg fa-fw"></i>
                                GUARDAR
                              </button>
                            </div>
                          </div>
                        </p-dialog>
                      </div>
                      <br />
                      <div class="modal-footer"></div>
                      <!-- <button type="button" class="btn btn-success" (click)="modalService.close()">Ok!</button> -->
                    </div>
                  </ng-template>
                  <button
                    type="button"
                    class="btn btn-outline-info"
                    (click)="modalService.open(contenido)"
                  >
                    GENERAR PDF
                  </button>
                </div>
                <div class="col-md-6" style="text-align: right">
                  <div class="p-d-flex">
                    <span class="ui-inputgroup-addon"
                      ><i class="fas fa-search fa-lg"></i
                    ></span>

                    <input
                      pInputText
                      type="text"
                      (input)="dt.filterGlobal($event.target.value, 'contains')"
                      placeholder="Buscar en contenido"
                    />
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col />
                <col *ngFor="let col of columns" />
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th style="width: 3em"></th>
                <th *ngFor="let col of columns" pResizableColumn>
                  {{ col.header }}
                </th>
              </tr>
            </ng-template>
            <ng-template
              pTemplate="body"
              let-rowData
              let-expanded="expanded"
              let-columns="columns"
            >
              <tr>
                <td style="width: 3em">
                  <a href="#" [pRowToggler]="rowData">
                    <i
                      [ngClass]="
                        expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'
                      "
                    ></i>
                  </a>
                </td>
                <td>
                  {{ rowData.nombre }}
                </td>
                <td>
                  <div *ngFor="let docente of rowData.docentes">
                    <p>
                      {{ docente.persona.primer_nombre }}
                      {{ docente.persona.primer_apellido }}
                    </p>
                    <!--  -->
                  </div>
                </td>
                <td>
                  {{ rowData.capacidad }}
                </td>
                <td>
                  {{ rowData.periodo.nombre }}
                </td>
                <td>
                  {{ rowData.jornada }}
                </td>

                <!-- <td
                  *ngFor="let col of columns; let i = index"
                  class="ui-resizable-column"
                >
                  {{ rowData[col.field] }}
                </td> -->
              </tr>
            </ng-template>
            <ng-template
              pTemplate="rowexpansion"
              let-rowData
              let-columns="columns"
            >
              <tr>
                <td [attr.colspan]="columns.length + 1">
                  <div
                    class="p-grid ui-fluid"
                    style="font-size: 16px; padding: 20px"
                    [@rowExpansionTrigger]="'active'"
                  >
                    <div class="row justify-content-center">
                      <div class="col-md-6">
                        <div class="p-grid">
                          <div class="p-col-12">
                            <b>Nombre:</b>
                            <p>
                              {{ rowData.nombre }}
                            </p>
                          </div>
                          <div class="p-col-12">
                            <b>Docentes:</b>
                            <div *ngFor="let docente of rowData.docentes">
                              <p>
                                Nombres: {{ docente.persona.primer_nombre }}
                                {{ docente.persona.primer_apellido }}
                              </p>
                              <p>Correo: {{ docente.persona.correo }}</p>
                              <p>Celular: {{ docente.persona.celular }}</p>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="p-grid">
                          <div class="p-col-12">
                            <b>Capacidad:</b>
                            <p>
                              {{ rowData.capacidad }}
                            </p>
                          </div>
                          <div class="p-col-12">
                            <b>Período Lectivo:</b>
                            <p>Nombre: {{ rowData.periodo.nombre }}</p>
                            <p>
                              Fecha de Inicio:
                              {{ rowData.periodo.fecha_inicio }}
                            </p>
                            <p>Fecha Fin: {{ rowData.periodo.fecha_fin }}</p>
                          </div>
                          <div class="p-col-12">
                            <b>Jornada:</b>
                            {{ rowData.jornada }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>

  <div class="section landing-section"></div>

  <!-- <div class="section landing-section"> -->
  <div class="container" style="margin-bottom: 10%">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="row justify-content-center">
          <div class="col-md-2">
            <i class="fas fa-quote-left fa-7x fa-fw"></i>
          </div>
          <div class="col-md-8">
            <div class="row text-center">
              <h2>
                La discapacidad no es una lucha valiente o coraje en frente de
                la adversidad. La discapacidad es un arte, es una forma
                ingeniosa de vivir.
              </h2>
            </div>
            <div class="row">
              <h5 style="margin-left: 75%; margin-top: 0.5em">
                - Neil Marcus -
              </h5>
            </div>
          </div>
          <div class="col-md-2" style="margin-top: 23%">
            <i class="fas fa-quote-right fa-7x fa-fw"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
