<div
  class="page-header"
  data-parallax="true"
  style="background-image: url('./assets/img/IPCA/portada docentes.jpg')"
>
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1 class="titulo">IPCAsist</h1>
      <h3 class="titulo">Asignación de Docentes</h3>
      <br />
      <a
        href="https://www.youtube.com/watch?v=7hUHMhUpVnw"
        class="btn btn-outline-neutral btn-round"
        target="_blank"
        ><i class="fa fa-play fa-lg fa-fw"></i> Vídeo Informativo</a
      >
      <!-- <button type="button" class="btn btn-outline-neutral btn-round">
        Download
      </button> -->
    </div>
  </div>
</div>
<div class="main">
  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="title">Breve Descripción</h2>
          <h5 class="description">
            En está página se permitará asignar los docentes a las distintias
            aulas que existen en la institución IPCA.
            <br />
            <span
              >A continuación se presenta un breve formulario, en el cual se le
              dará la postestad de ingresar información. Recuerde guardar la
              misma cuando esté seguro que ingresó correctamente los datos.
              <br />
              Aquí una breve explicación.
            </span>
          </h5>
          <br />
          <a
            [routerLink]="['/ayuda-componentes']"
            class="btn btn-outline-default btn-round"
            target="_blank"
            ><i class="fas fa-question fa-lg fa-fw"></i>Ayuda de Componentes</a
          >
        </div>
      </div>
      <br /><br />
      <!-- <div class="row">
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-album-2"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Beautiful Gallery</h4>
              <p class="description">
                Spend your time generating new ideas. You don't have to think of
                implementing.
              </p>
              <a href="#pkp" class="btn btn-link btn-danger">See more</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-bulb-63"></i>
            </div>
            <div class="description">
              <h4 class="info-title">New Ideas</h4>
              <p>
                Larger, yet dramatically thinner. More powerful, but remarkably
                power efficient.
              </p>
              <a href="#pkp" class="btn btn-link btn-danger">See more</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-chart-bar-32"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Statistics</h4>
              <p>
                Choose from a veriety of many colors resembling sugar paper
                pastels.
              </p>
              <a href="#pkp" class="btn btn-link btn-danger">See more</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-sun-fog-29"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Delightful design</h4>
              <p>
                Find unique and handmade delightful designs related items
                directly from our sellers.
              </p>
              <a href="#pkp" class="btn btn-link btn-danger">See more</a>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>

  <!-- FORMULARIO -->
  <div class="section section-dark text-center">
    <div class="container">
      <h2 class="title">Asigne a un Docente!!</h2>
      <form [formGroup]="forma" (ngSubmit)="asignarDocente()">
        <!-- Card Identificación -->
        <div class="row justify-content-center">
          <div class="col-md-6">
            <p-card
              header="Identificación del Docente"
              subheader="Ingrese la identificación o el nombre del Docente a asignar."
              styleClass="ui-card-shadow"
            >
              <p-header>
                <div style="background-color: #cfcfcf">
                  <i class="fas fa-chalkboard-teacher fa-4x fa-fw icono"></i>
                </div>
              </p-header>
              <br />
              <div class="ui-inputgroup row justify-content-center">
                <span class="ui-inputgroup-addon">
                  <i class="fas fa-user-tie fa-lg" style="line-height: 1"></i
                ></span>
                <p-autoComplete
                  [suggestions]="docentes_filtrados"
                  (completeMethod)="filtrarDocente($event)"
                  [size]="30"
                  [minLength]="1"
                  placeholder="Docente"
                  [dropdown]="true"
                  formControlName="identificacion"
                  field="persona.identificacion"
                >
                  <ng-template let-brand pTemplate="item">
                    <div class="ui-helper-clearfix">
                      <div
                        style="
                          font-size: 10px;
                          display: inline-block;
                          margin: 10px 10px 0 0;
                        "
                      >
                        {{ brand.persona.identificacion }}
                      </div>
                      <div
                        style="
                          font-size: 12px;
                          float: right;
                          margin: 10px 10px 0 0;
                        "
                      >
                        {{ brand.persona.primer_nombre }}
                        {{ brand.persona.primer_apellido }}
                      </div>
                    </div>
                  </ng-template>
                </p-autoComplete>
              </div>
              <br />
              <div class="row justify-content-center">
                <p-message
                  severity="error"
                  text=" Se requiere la Identificación"
                  *ngIf="invalidos('identificacion')"
                ></p-message>
              </div>
              <p-footer>
                <i class="fa fa-arrow-down fa-3x" aria-hidden="true"></i>
              </p-footer>
            </p-card>
          </div>
        </div>
        <br />

        <!-- Card Horarios -->
        <div class="row justify-content-center">
          <div class="col-md-6">
            <p-card
              header="Horario de Docente"
              subheader="Ingrese el horario de trabajo del Docente."
              styleClass="ui-card-shadow"
            >
              <p-header>
                <div style="background-color: #cfcfcf">
                  <i class="far fa-clock fa-4x fa-fw icono"></i>
                </div>
              </p-header>

              <div
                class="row justify-content-center"
                style="margin-top: 1em"
                formGroupName="horario"
              >
                <!-- Horario de Entrada-->
                <div class="col-md-4">
                  <label>Horario de Entrada</label>
                  <ngb-timepicker
                    [meridian]="meridian"
                    formControlName="horario_entrada"
                  ></ngb-timepicker>
                  <!-- <p-calendar
                      formControlName="horario_entrada"
                      [timeOnly]="true"
                    ></p-calendar> -->
                  <p-message
                    severity="error"
                    text=" Se requiere el Horario de Entrada del Docente"
                    *ngIf="noEntrada"
                  ></p-message>
                  <!-- <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#avatar"
                ><img src="./assets/img/faces/joe-gardner-2.jpg" alt="..."
              /></a>
            </div>
            <div class="card-block">
              <a href="#paper-kit">
                <div class="author">
                  <h4 class="card-title">Sophie West</h4>
                  <h6 class="card-category">Designer</h6>
                </div>
              </a>
              <p class="card-description text-center">
                A group becomes a team when each member is sure enough of
                himself and his contribution to praise the skill of the others.
                No one can whistle a symphony. It takes an orchestra to play it.
              </p>
            </div>
            <div class="card-footer text-center">
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"
                ><i class="fa fa-twitter"></i
              ></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"
                ><i class="fa fa-google-plus"></i
              ></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"
                ><i class="fa fa-linkedin"></i
              ></a>
            </div>
          </div> -->

                  <!-- <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#avatar"
                ><img src="./assets/img/faces/erik-lucatero-2.jpg" alt="..."
              /></a>
            </div>
            <div class="card-block">
              <a href="#paper-kit">
                <div class="author">
                  <h4 class="card-title">Robert Orben</h4>
                  <h6 class="card-category">Developer</h6>
                </div>
              </a>
              <p class="card-description text-center">
                The strength of the team is each individual member. The strength
                of each member is the team. If you can laugh together, you can
                work together, silence isn’t golden, it’s deadly.
              </p>
            </div>
            <div class="card-footer text-center">
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"
                ><i class="fa fa-twitter"></i
              ></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"
                ><i class="fa fa-google-plus"></i
              ></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"
                ><i class="fa fa-linkedin"></i
              ></a>
            </div>
          </div>
        </div> -->
                </div>
                <!-- Horario de Salida -->
                <div class="col-md-4">
                  <label>Horario de Salida</label>
                  <ngb-timepicker
                    [meridian]="meridian"
                    formControlName="horario_salida"
                  ></ngb-timepicker>
                  <!-- <p-calendar
                    formControlName="horario_salida"
                    [timeOnly]="true"
                  ></p-calendar> -->
                  <p-message
                    severity="error"
                    text=" Se requiere el Horario de Entrada del Docente"
                    *ngIf="noSalida"
                  ></p-message>
                </div>
              </div>
              <p-footer>
                <i class="fa fa-arrow-down fa-3x" aria-hidden="true"></i>
              </p-footer>
            </p-card>
          </div>
        </div>
        <br />

        <!-- Card Aula -->
        <div class="row justify-content-center">
          <div class="col-md-6">
            <p-card
              header="Identificación del Aula"
              subheader="Ingrese la identificación del Aula en la cual se desea ingresar al Docente."
              styleClass="ui-card-shadow"
            >
              <p-header>
                <div style="background-color: #cfcfcf">
                  <i class="fas fa-school fa-4x fa-fw icono"></i>
                </div>
              </p-header>
              <div>
                <br />
                <div class="ui-inputgroup row justify-content-center">
                  <span class="ui-inputgroup-addon">
                    <i class="fas fa-door-open fa-lg" style="line-height: 1"></i
                  ></span>
                  <p-autoComplete
                    [suggestions]="aulas_filtradas"
                    (completeMethod)="filtrarAula($event)"
                    [size]="30"
                    [minLength]="1"
                    placeholder="Aula"
                    [dropdown]="true"
                    formControlName="aula"
                    field="nombre"
                  >
                    <ng-template let-brand pTemplate="item">
                      <div class="ui-helper-clearfix">
                        <div style="font-size: 15px; margin: 0.5em">
                          {{ brand.nombre }}
                        </div>
                      </div>
                    </ng-template>
                  </p-autoComplete>
                </div>
                <br />
                <!-- <small class="text-danger" *ngIf="noAula">
                  Se requiere el nombre del Aula
                </small> -->
                <div class="row justify-content-center">
                  <p-message
                    severity="error"
                    text="  Se requiere el nombre del Aula"
                    *ngIf="invalidos('aula')"
                  ></p-message>
                </div>
              </div>
              <p-footer>
                <i class="fa fa-arrow-down fa-3x" aria-hidden="true"></i>
              </p-footer>
            </p-card>
          </div>
        </div>
        <!-- <br />
        <br /> -->

        <button
          type="submit"
          class="btn btn-neutral btn-round btn-lg"
          [disabled]="!forma.valid"
          style="margin-top: 3em"
        >
          <i class="fas fa-save fa-lg fa-fw"></i> Asignar Docente
        </button>
      </form>
    </div>
  </div>

  <div class="section landing-section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 mr-auto ml-auto">
          <h2 class="text-center">Asignaciones Registradas</h2>

          <br />

          <p-table
            [columns]="cols"
            [value]="asignaciones"
            dataKey="_id"
            [resizableColumns]="true"
            [scrollable]="true"
            scrollHeight="500px"
            styleClass="ui-table-summary"
            selectionMode="single"
            [(selection)]="asignacion_seleccionada"
            (onRowSelect)="onRowSelect($event)"
          >
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col />
                <col *ngFor="let col of columns" />
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th style="width: 3em"></th>
                <th *ngFor="let col of columns" pResizableColumn>
                  {{ col.header }}
                </th>
              </tr>
            </ng-template>
            <ng-template
              pTemplate="body"
              let-rowData
              let-expanded="expanded"
              let-columns="columns"
            >
              <tr [pSelectableRow]="rowData">
                <td style="width: 3em">
                  <a href="#" [pRowToggler]="rowData">
                    <i
                      [ngClass]="
                        expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'
                      "
                    ></i>
                  </a>
                </td>
                <td>
                  {{ rowData.docente.persona.identificacion }}
                </td>
                <td>
                  {{ rowData.docente.persona.primer_nombre }}
                  {{ rowData.docente.persona.segundo_nombre }}
                </td>
                <td>
                  {{ rowData.docente.persona.primer_apellido }}
                  {{ rowData.docente.persona.segundo_apellido }}
                </td>
                <td>
                  {{ rowData.horario_entrada.hora }}
                  {{ rowData.horario_entrada.periodo }}
                </td>
                <td>
                  {{ rowData.horario_salida.hora }}
                  {{ rowData.horario_salida.periodo }}
                </td>
                <td>
                  {{ rowData.aula.nombre }}
                </td>

                <!-- <td
                  *ngFor="let col of columns; let i = index"
                  class="ui-resizable-column"
                >
                  {{ rowData[col.field] }}
                </td> -->
              </tr>
            </ng-template>
            <ng-template
              pTemplate="rowexpansion"
              let-rowData
              let-columns="columns"
            >
              <tr>
                <td [attr.colspan]="columns.length + 1">
                  <div
                    class="p-grid ui-fluid"
                    style="font-size: 16px; padding: 20px"
                    [@rowExpansionTrigger]="'active'"
                  >
                    <div class="row justify-content-center">
                      <div class="col-md-6">
                        <div class="p-grid">
                          <div class="p-col-12">
                            <b>Cédula:</b>
                            {{ rowData.docente.persona.identificacion }}
                          </div>
                          <div class="p-col-12">
                            <b>Nombres:</b>
                            {{ rowData.docente.persona.primer_nombre }}
                            {{ rowData.docente.persona.segundo_nombre }}
                          </div>
                          <div class="p-col-12">
                            <b>Apellidos:</b>
                            {{ rowData.docente.persona.primer_apellido }}
                            {{ rowData.docente.persona.segundo_apellido }}
                          </div>
                          <div class="p-col-12">
                            <b>Nivel de Formación:</b>
                            {{ rowData.docente.nivel_formacion }}
                          </div>
                          <div class="p-col-12">
                            <b>Título:</b> {{ rowData.docente.titulo }}
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="p-grid" style="margin-top: 1em">
                          <div class="p-col-12">
                            <b>Horario de Entrada:</b>
                            {{ rowData.horario_entrada.hora }}
                            {{ rowData.horario_entrada.periodo }}
                          </div>
                          <div class="p-col-12">
                            <b>Horario de Salida:</b>
                            {{ rowData.horario_salida.hora }}
                            {{ rowData.horario_salida.periodo }}
                          </div>
                          <div class="p-col-12">
                            <b>Nombre de Aula:</b>
                            {{ rowData.aula.nombre }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>

          <p-dialog
            header="Detalles de Persona"
            [(visible)]="displayDialog"
            [focusOnShow]="false"
            showEffect="fade"
            [modal]="true"
            [style]="{ width: '300px' }"
          >
            <form [formGroup]="forma_editar" (ngSubmit)="editarDocente()">
              <div class="p-grid ui-fluid" *ngIf="asignacion_editar">
                <div class="p-col-4">
                  <label for="_id" class="fuente"
                    >IDENTIFICACIÓN DE DOCENTE</label
                  >
                </div>
                <div class="p-col-8">
                  <p-autoComplete
                    [suggestions]="docentes_editados"
                    (completeMethod)="filtrarDocenteEditar($event)"
                    [size]="30"
                    [minLength]="1"
                    placeholder="Docente"
                    [dropdown]="true"
                    formControlName="identificacion"
                    field="persona.identificacion"
                  >
                    <ng-template let-brand pTemplate="item">
                      <div class="ui-helper-clearfix">
                        <div
                          style="
                            font-size: 10px;
                            display: inline-block;
                            margin: 10px 10px 0 0;
                          "
                        >
                          {{ brand.persona.identificacion }}
                        </div>
                        <div
                          style="
                            font-size: 12px;
                            float: right;
                            margin: 10px 10px 0 0;
                          "
                        >
                          {{ brand.persona.primer_nombre }}
                          {{ brand.persona.primer_apellido }}
                        </div>
                      </div>
                    </ng-template>
                  </p-autoComplete>
                </div>
                <div class="p-col-4 edicion">
                  <label class="fuente">HORA DE ENTRADA</label>
                </div>
                <div class="p-col-8">
                  <p-calendar
                    formControlName="horario_entrada"
                    [timeOnly]="true"
                  ></p-calendar>
                </div>
                <div class="p-col-4 edicion">
                  <label class="fuente">HORA DE SALIDA</label>
                </div>
                <div class="p-col-8">
                  <p-calendar
                    formControlName="horario_salida"
                    [timeOnly]="true"
                  ></p-calendar>
                </div>
                <div class="p-col-4 edicion">
                  <label class="fuente">AULA</label>
                </div>
                <div class="p-col-8" style="margin-bottom: 0.5em">
                  <p-autoComplete
                    [suggestions]="aulas_editadas"
                    (completeMethod)="filtrarAulaEditar($event)"
                    [size]="30"
                    [minLength]="1"
                    placeholder="Aula"
                    [dropdown]="true"
                    formControlName="aula"
                    field="nombre"
                  >
                    <ng-template let-brand pTemplate="item">
                      <div class="ui-helper-clearfix">
                        <div style="font-size: 15px; margin: 0.5em">
                          {{ brand.nombre }}
                        </div>
                      </div>
                    </ng-template>
                  </p-autoComplete>
                </div>
              </div>
              <br>
              <p-footer>
                <div
                  class="ui-dialog-buttonpane ui-helper-clearfix row justify-content-center"
                >
                  <button
                    type="button"
                    class="btn btn-outline-danger btn-round btn-sm"
                    (click)="delete()"
                  >
                    <i class="fas fa-trash-alt fa-lg fa-fw"></i> Borrar
                  </button>
                  <button
                    type="submit"
                    class="btn btn-outline-success btn-round btn-sm"
                  >
                    <i class="fas fa-save fa-lg fa-fw"></i> Guardar
                  </button>
                </div>
              </p-footer>
            </form>
          </p-dialog>

          <!-- <form class="contact-form">
            <div class="row">
              <div class="col-md-6">
                <label>Name</label>
                <div
                  class="input-group"
                  [ngClass]="{ 'input-group-focus': focus === true }"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="nc-icon nc-single-02"></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Name"
                    (focus)="focus = true"
                    (blur)="focus = false"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <label>Email</label>
                <div
                  class="input-group"
                  [ngClass]="{ 'input-group-focus': focus1 === true }"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="nc-icon nc-email-85"></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Email"
                    (focus)="focus1 = true"
                    (blur)="focus1 = false"
                  />
                </div>
              </div>
            </div>
            <label>Message</label>
            <textarea
              class="form-control"
              rows="4"
              placeholder="Tell us your thoughts and feelings..."
            ></textarea>
            <div class="row">
              <div class="col-md-4 mr-auto ml-auto">
                <button class="btn btn-danger btn-lg btn-fill">
                  Send Message
                </button>
              </div>
            </div>
          </form> -->
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="section landing-section"> -->
  <div class="container" style="margin-bottom: 10%">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="row justify-content-center">
          <div class="col-md-2">
            <i class="fas fa-quote-left fa-7x fa-fw"></i>
          </div>
          <div class="col-md-8">
            <div class="row text-center">
              <h2>
                La discapacidad no es una lucha valiente o coraje en frente de
                la adversidad. La discapacidad es un arte, es una forma
                ingeniosa de vivir.
              </h2>
            </div>
            <div class="row">
              <h5 style="margin-left: 75%; margin-top: 0.5em">
                - Neil Marcus -
              </h5>
            </div>
          </div>
          <div class="col-md-2" style="margin-top: 23%">
            <i class="fas fa-quote-right fa-7x fa-fw"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
