.titulo {
  text-shadow: 1px 1px 1px black;
}

.icono {
  margin: 5px;
}

.edicion {
  margin-top: 0.5em;
}

.fuente {
  font-weight: bold;
}

.espacio {
  margin-top: 2em;
}
/* :host ::ng-deep p-autoComplete .ui-autocomplete-items {
  background-color: #32302f !important;
} */

/* :host ::ng-deep .p-calendar > .ui-calendar {
  size: 54px !important;
} */
