<div
  class="page-header"
  data-parallax="true"
  style="background-image: url('./assets/img/IPCA/portada docentes.jpg');"
>
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1 class="titulo">IPCAsist</h1>
      <h3 class="titulo">Asignación de Docentes</h3>
      <br />
      <a
        href="https://www.youtube.com/watch?v=7hUHMhUpVnw"
        class="btn btn-outline-neutral btn-round"
        target="_blank"
        ><i class="fa fa-play fa-lg fa-fw"></i> Vídeo Informativo</a
      >
      <!-- <button type="button" class="btn btn-outline-neutral btn-round">
        Download
      </button> -->
    </div>
  </div>
</div>
<div class="main">
  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="title">Breve Descripción</h2>
          <h5 class="description">
            En está página se permitará asignar los docentes a las distintias
            aulas que existen en la institución IPCA.
            <br />
            <span
              >A continuación se presenta un breve formulario, en el cual se le
              dará la postestad de ingresar información. Recuerde guardar la
              misma cuando esté seguro que ingresó correctamente los datos.
              <br />
              Aquí una breve explicación.
            </span>
          </h5>
          <br />
          <a
            href="#paper-kit"
            class="btn btn-outline-default btn-round"
            target="_blank"
            ><i class="fas fa-question fa-lg fa-fw"></i>Ayuda de Componentes</a
          >
        </div>
      </div>
      <br /><br />
      <!-- <div class="row">
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-album-2"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Beautiful Gallery</h4>
              <p class="description">
                Spend your time generating new ideas. You don't have to think of
                implementing.
              </p>
              <a href="#pkp" class="btn btn-link btn-danger">See more</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-bulb-63"></i>
            </div>
            <div class="description">
              <h4 class="info-title">New Ideas</h4>
              <p>
                Larger, yet dramatically thinner. More powerful, but remarkably
                power efficient.
              </p>
              <a href="#pkp" class="btn btn-link btn-danger">See more</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-chart-bar-32"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Statistics</h4>
              <p>
                Choose from a veriety of many colors resembling sugar paper
                pastels.
              </p>
              <a href="#pkp" class="btn btn-link btn-danger">See more</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-sun-fog-29"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Delightful design</h4>
              <p>
                Find unique and handmade delightful designs related items
                directly from our sellers.
              </p>
              <a href="#pkp" class="btn btn-link btn-danger">See more</a>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>

  <div class="section section-dark text-center">
    <div class="container">
      <h2 class="title">Asigne a un Docente!!</h2>

      <!-- Card Identificación -->
      <div class="row justify-content-center">
        <div class="col-md-6">
          <p-card
            header="Identificación del Docente"
            subheader="Ingrese la identificación o el nombre del Docente a asignar."
            styleClass="ui-card-shadow"
          >
            <p-header>
              <div style="background-color: #cfcfcf;">
                <i class="fas fa-chalkboard-teacher fa-4x fa-fw icono"></i>
              </div>
            </p-header>
            <div class="form-group">
              <br />
              <p-autoComplete
                styleClass="cedula"
                [(ngModel)]="country"
                [suggestions]="filteredCountriesSingle"
                (completeMethod)="filterCountrySingle($event)"
                field="name"
                [size]="35"
                placeholder="Docente"
                [minLength]="1"
              ></p-autoComplete>
            </div>
            <p-footer>
              <i class="fa fa-arrow-down fa-3x" aria-hidden="true"></i>
            </p-footer>
          </p-card>
        </div>
      </div>
      <br />

      <!-- Card Horarios -->
      <div class="row justify-content-center">
        <div class="col-md-6">
          <p-card
            header="Horario de Docente"
            subheader="Ingrese el horario de trabajo del Docente."
            styleClass="ui-card-shadow"
          >
            <p-header>
              <div style="background-color: #cfcfcf;">
                <!-- <i class="fa fa-clock-o "fa-4x fa-fw aria-hidden="true"></i> -->
                <i class="far fa-clock fa-4x fa-fw icono"></i>
                <!-- <i class="fab fa-adobe"></i> -->
              </div>
            </p-header>
            <div class="row justify-content-center">
              <!-- Horario de Entrada-->
              <div class="col-md-3">
                <div class="form-group">
                  <label>Horario de Entrada</label>
                  <ngb-timepicker
                    [(ngModel)]="time"
                    [meridian]="meridian"
                  ></ngb-timepicker>
                </div>
                <!-- <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#avatar"
                ><img src="./assets/img/faces/joe-gardner-2.jpg" alt="..."
              /></a>
            </div>
            <div class="card-block">
              <a href="#paper-kit">
                <div class="author">
                  <h4 class="card-title">Sophie West</h4>
                  <h6 class="card-category">Designer</h6>
                </div>
              </a>
              <p class="card-description text-center">
                A group becomes a team when each member is sure enough of
                himself and his contribution to praise the skill of the others.
                No one can whistle a symphony. It takes an orchestra to play it.
              </p>
            </div>
            <div class="card-footer text-center">
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"
                ><i class="fa fa-twitter"></i
              ></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"
                ><i class="fa fa-google-plus"></i
              ></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"
                ><i class="fa fa-linkedin"></i
              ></a>
            </div>
          </div> -->

                <!-- <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#avatar"
                ><img src="./assets/img/faces/erik-lucatero-2.jpg" alt="..."
              /></a>
            </div>
            <div class="card-block">
              <a href="#paper-kit">
                <div class="author">
                  <h4 class="card-title">Robert Orben</h4>
                  <h6 class="card-category">Developer</h6>
                </div>
              </a>
              <p class="card-description text-center">
                The strength of the team is each individual member. The strength
                of each member is the team. If you can laugh together, you can
                work together, silence isn’t golden, it’s deadly.
              </p>
            </div>
            <div class="card-footer text-center">
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"
                ><i class="fa fa-twitter"></i
              ></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"
                ><i class="fa fa-google-plus"></i
              ></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"
                ><i class="fa fa-linkedin"></i
              ></a>
            </div>
          </div>
        </div> -->
              </div>
              <!-- Horario de Salida -->
              <div class="col-md-3">
                <div class="form-group">
                  <label>Horario de Salida</label>
                  <ngb-timepicker
                    [(ngModel)]="time2"
                    [meridian]="meridian"
                  ></ngb-timepicker>
                </div>
              </div>
            </div>
            <p-footer>
              <i class="fa fa-arrow-down fa-3x" aria-hidden="true"></i>
            </p-footer>
          </p-card>
        </div>
      </div>
      <br />

      <!-- Card Docente -->
      <div class="row justify-content-center">
        <div class="col-md-6">
          <p-card
            header="Identificación del Aula"
            subheader="Ingrese la identificación del Aula en la cual se desea ingresar al Docente."
            styleClass="ui-card-shadow"
          >
            <p-header>
              <div style="background-color: #cfcfcf;">
                <i class="fas fa-school fa-4x fa-fw icono"></i>
              </div>
            </p-header>
            <div class="form-group">
              <br />
              <p-autoComplete
                styleClass="cedula"
                [(ngModel)]="country"
                [suggestions]="filteredCountriesSingle"
                (completeMethod)="filterCountrySingle($event)"
                field="name"
                [size]="35"
                placeholder="Aula"
                [minLength]="1"
              ></p-autoComplete>
            </div>
            <p-footer>
              <i class="fa fa-arrow-down fa-3x" aria-hidden="true"></i>
            </p-footer>
          </p-card>
        </div>
      </div>
      <br />
      <br />

      <button type="button" class="btn btn-outline-neutral btn-round btn-lg">
        <i class="fas fa-save fa-lg fa-fw"></i> Asignar Docente
      </button>
    </div>
  </div>

  <div class="section landing-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="text-center">Asignaciones a un Aula</h2>
          <br />

          <p-table
            [value]="persons"
            [columns]="cols"
            [scrollable]="true"
            scrollHeight="200px"
            [resizableColumns]="true"
          >
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col *ngFor="let col of columns" />
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th *ngFor="let col of cols" pResizableColumn>
                  {{ col.header }}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-person>
              <tr>
                <td *ngFor="let col of cols">
                  {{ person[col.field] }}
                </td>
              </tr>
            </ng-template>
          </p-table>

          <!-- <form class="contact-form">
            <div class="row">
              <div class="col-md-6">
                <label>Name</label>
                <div
                  class="input-group"
                  [ngClass]="{ 'input-group-focus': focus === true }"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="nc-icon nc-single-02"></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Name"
                    (focus)="focus = true"
                    (blur)="focus = false"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <label>Email</label>
                <div
                  class="input-group"
                  [ngClass]="{ 'input-group-focus': focus1 === true }"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="nc-icon nc-email-85"></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Email"
                    (focus)="focus1 = true"
                    (blur)="focus1 = false"
                  />
                </div>
              </div>
            </div>
            <label>Message</label>
            <textarea
              class="form-control"
              rows="4"
              placeholder="Tell us your thoughts and feelings..."
            ></textarea>
            <div class="row">
              <div class="col-md-4 mr-auto ml-auto">
                <button class="btn btn-danger btn-lg btn-fill">
                  Send Message
                </button>
              </div>
            </div>
          </form> -->
        </div>
      </div>
    </div>
  </div>
</div>
