.titulo {
  text-shadow: 1px 1px 1px black;
}

.icono {
  margin: 5px;
}

.edicion {
  margin-top: 0.5em;
}

/* :host ::ng-deep p-autoComplete .ui-autocomplete-items {
  background-color: #32302f !important;
} */
