<nav
  class="navbar navbar-expand-lg fixed-top navbar-transparent"
  color-on-scroll="500"
>
  <div class="container">
    <div class="navbar-translate" routerLinkActive="true">
      <a class="navbar-brand" [routerLink]="['/home']"
        ><img
          src="./assets/img/IPCA/logo.png"
          width="60"
          height="40"
          class="d-inline-block"
          alt="Logo"
          loading="lazy"
      /></a>
      <a class="navbar-brand" [routerLink]="['/plan-vida']"
        ><i class="fa fa-address-book fa-fw" aria-hidden="true"></i> Plan de
        Vida</a
      >
      <a class="navbar-brand" [routerLink]="['/visitas']"
        ><i class="fa fa-building fa-fw" aria-hidden="true"></i> Visitas</a
      >
      <a class="navbar-brand" [routerLink]="['/pasante']"
        ><i class="fa fa-users fa-fw" aria-hidden="true"></i> Pasantes</a
      >
      <a class="navbar-brand" [routerLink]="['/asignar-docente']"
        ><i class="fas fa-chalkboard"></i> Aulas</a
      >

      <button
        class="navbar-toggler navbar-burger"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggler"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="sidebarToggle()"
      >
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav ml-auto">
      
        <li class="nav-item" *ngIf="!isDocumentation()">
          <a
            class="nav-link"
            rel="tooltip"
            title="Página Facebook"
            data-placement="bottom"
            href="https://www.facebook.com/IPCA-Cuenca-1031699846922675"
            target="_blank"
          >
            <i class="fab fa-facebook fa-lg"></i>
            <p class="d-lg-none">Facebook</p>
          </a>
        </li>

        <li class="nav-item" *ngIf="!isDocumentation()">
          <a
            class="nav-link"
            rel="tooltip"
            title="Más Información"
            data-placement="bottom"
            href="https://ipca.catedraunescoinclusion.org"
            target="_blank"
          >
            <i class="fas fa-info-circle fa-lg"></i>
            <p class="d-lg-none">Sitio Web</p>
          </a>
        </li>
        <!-- <li class="nav-item" *ngIf="!isDocumentation()">
          <a
            class="nav-link"
            rel="tooltip"
            title="Follow us on Instagram"
            data-placement="bottom"
            href="https://www.instagram.com/CreativeTimOfficial"
            target="_blank"
          >
            <i class="fa fa-instagram"></i>
            <p class="d-lg-none">Instagram</p>
          </a>
        </li> -->
        <!-- <li class="nav-item" *ngIf="!isDocumentation()">
          <a
            class="nav-link"
            rel="tooltip"
            title="Star on GitHub"
            data-placement="bottom"
            href="https://www.github.com/CreativeTimOfficial/paper-kit-2-angular"
            target="_blank"
          >
            <i class="fa fa-github"></i>
            <p class="d-lg-none">GitHub</p>
          </a>
        </li> -->
        <!-- <li class="nav-item" *ngIf="!isDocumentation()">
          <a
            href="http://pk2-angular.creative-tim.com/documentation/tutorial"
            class="nav-link"
            target="_blank"
            ><i class="nc-icon nc-book-bookmark"></i> Documentation</a
          >
        </li> -->
        <!-- <li class="nav-item" *ngIf="isHome()">
          <a
            href="https://www.creative-tim.com/product/paper-kit-2-pro-angular?ref=pk2-angular-free-local"
            target="_blank"
            class="btn btn-outline-info btn-round"
            >Ingresar</a
          >
        </li> -->
        <li class="nav-item">
          <!-- <a
            [routerLink]="['/home']"
            *ngIf="!isDocumentation()"
            class="nav-link"
            ><i class="nc-icon nc-layout-11"></i>Components</a
          >
          <a [routerLink]="['/home']" *ngIf="isDocumentation()" class="nav-link"
            >Back to Kit</a
          > -->
          <!-- <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/login" routerLinkActive="active">Login</a> -->
          <a
            *ngIf="!_authService.loggedIn()" [routerLink]="['/sesion']" 
    
            class="btn btn-outline-info btn-round"
            >Ingresar</a
          >
        </li>
        <li class="nav-item">
          <!-- <a
            href="https://github.com/creativetimofficial/paper-kit-2-angular/issues?ref=pk2-free-local"
            target="_blank"
            class="nav-link"
            >Have an issue</a
          > -->
          <a
            style="cursor:pointer" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()"
            class="btn btn-success btn-round"
            >Salir</a
          >
          <!-- <a class="nav-link" style="cursor:pointer" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">Logout</a>  -->
        </li>
        <!-- <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/register" routerLinkActive="active">Register</a> -->
      </ul>
    </div>
  </div>
</nav>
