<div
  class="page-header"
  data-parallax="true"
  style="background-image: url('./assets/img/IPCA/visita ipca.jpg')"
>
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1 class="titulo">IPCAsist</h1>
      <h3 class="titulo">Visitas de Empresas</h3>
      <br />
      <a
        href="https://www.facebook.com/1031699846922675/videos/378236279717955"
        class="btn btn-outline-neutral btn-round"
        target="_blank"
        ><i class="fa fa-play fa-lg fa-fw"></i> Vídeo Experiencia
      </a>
    </div>
  </div>
</div>
<div class="main">
  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="title">Breve Descripción</h2>
          <h5 class="description">
            En está página se permitará registrar las visitas que realicen las
            distintas empresas o instituciones al IPCA.
            <br />
            <span
              >A continuación se presenta un breve formulario, en el cual se le
              dará la facilidad de registrar todos los datos de una visita.
              <br /><br />
              Recuerde guardar los cambios cuando esté seguro que ingresó
              correctamente la información, aquí una breve explicación.
            </span>
          </h5>
          <br />
          <a
            [routerLink]="['/ayuda-componentes']"
            class="btn btn-outline-default btn-round"
            ><i class="fas fa-question fa-lg fa-fw"></i>Ayuda de Componentes</a
          >
        </div>
      </div>
      <br /><br />
    </div>
  </div>

  <!-- Nueva Sección -->
  <div class="section section-dark text-center">
    <div class="container">
      <h2 class="title">Registre una Visita</h2>

      <p-dialog header="INGRESAR NUEVA EMPRESA" [(visible)]="mostrar_nueva_empresa" [style]="{width: '25vw'}" >
        <div class="container" style="margin-top: 1em;">
          <form [formGroup]="forma_empresa" (ngSubmit)="guardarEmpresa()">
            <div class="row justify-content-center">

              <!-- Nombre -->
              <div class="col-md-12">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon">
                    <i
                      class="fas fa-pen-square fa-lg"
                      style="line-height: 1"
                    ></i
                  ></span>
                  <input
                    type="text"
                    size="30"
                    pInputText
                    formControlName="nombre"
                    placeholder="Nombre de Empresa*"
                  />
                </div>
                <!-- <div class="row justify-content-center">
                  <p-message
                    severity="error"
                    text=" Se requiere el Nombre de la Empresa"
                    *ngIf="invalidosEmpresa('empresa')"
                    style="margin-top: 1em"
                  ></p-message>
                </div> -->
              </div>

              <!-- Representante -->
              <div class="col-md-12 edicion">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon">
                    <i
                      class="fas fa-pen-square fa-lg"
                      style="line-height: 1"
                    ></i
                  ></span>
                  <input
                    type="text"
                    size="30"
                    pInputText
                    formControlName="representante"
                    placeholder="Nombre de Representante*"
                  />
                </div>
                <!-- <div class="row justify-content-center">
                  <p-message
                    severity="error"
                    text=" Se requiere el Nombre del Representante"
                    *ngIf="invalidosEmpresa('representante')"
                    style="margin-top: 1em"
                  ></p-message>
                </div> -->
              </div>

              <!-- Contacto -->
              <div class="col-md-12 edicion">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon">
                    <i
                      class="fas fa-pen-square fa-lg"
                      style="line-height: 1"
                    ></i
                  ></span>
                  <input
                    type="text"
                    size="30"
                    pInputText
                    formControlName="contacto"
                    placeholder="Contacto Telefónico"
                  />
                </div>
              </div>

              <!-- Correo -->
              <div class="col-md-12 edicion">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon">
                    <i
                      class="fas fa-pen-square fa-lg"
                      style="line-height: 1"
                    ></i
                  ></span>
                  <input
                    type="text"
                    size="30"
                    pInputText
                    formControlName="correo"
                    placeholder="Correo de Representante"
                  />
                </div>
              </div>

              <!-- Direccion -->
              <div class="col-md-12 edicion">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon">
                    <i
                      class="fas fa-pen-square fa-lg"
                      style="line-height: 1"
                    ></i
                  ></span>
                  <input
                    type="text"
                    size="30"
                    pInputText
                    formControlName="direccion"
                    placeholder="Dirección de la Empresa"
                  />
                </div>
              </div>

              <div class="col-md-12">
                <button
                type="submit"
                class="btn btn-outline-success btn-round btn-sm"
                [disabled]="!forma_empresa.valid"
                style="margin-top: 2em"
                >
                  <i class="fas fa-save fa-lg fa-fw"></i> Registrar Empresa
                </button>
              </div>
            </div>
          </form>
        </div>
      </p-dialog>

      <form [formGroup]="forma" (ngSubmit)="guardarVisita()">
        <div class="row justify-content-center" style="margin-top: 2em">
          <!-- Columna 1 -->
          <div class="col-md-5" style="margin-top: 2em">
            <!-- Nombre Empresa -->
            <div class="row">
              <div class="col-md-12">
                <p-card
                  header="Empresa"
                  subheader="Ingrese el nombre de la Empresa o Institución visitante."
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div class="head">
                      <i class="far fa-building fa-4x fa-fw icono"></i>
                    </div>
                  </p-header>
                  <div class="row justify-content-center componente">
                    <div class="ui-inputgroup">
                      <span class="ui-inputgroup-addon">
                        <i
                          class="fas fa-signature fa-lg"
                          style="line-height: 1"
                        ></i
                      ></span>
                      <!-- <input
                        type="text"
                        placeholder="Nombre"
                        pInputText
                        size="30"
                        formControlName="empresa"
                      /> -->

                      <!-- <p-autoComplete
                      [suggestions]="empresa_filtrada"
                      (completeMethod)="filtrarEmpresa($event)"
                      (onSelect)="extraerEmpresa($event)"
                      [size]="20"
                      [minLength]="1"
                      placeholder="Empresa"
                      [dropdown]="true"
                      formControlName="empresa"
                      field="nombre"
                    > -->
                    <p-autoComplete
                      [suggestions]="empresa_filtrada"
                      (completeMethod)="filtrarEmpresa($event)"
                      [size]="30"
                      [minLength]="1"
                      placeholder="Empresa"
                      [dropdown]="true"
                      formControlName="empresa"
                      field="nombre"
                    >
                    <ng-template let-brand pTemplate="item">
                      <div class="ui-helper-clearfix">
                        <div style="font-size: 15px; margin: 0.5em">
                          {{ brand.nombre }}
                        </div>
                      </div>
                    </ng-template>
  
                    </p-autoComplete>
                    <div class="col-md-2">
                      <button
                        type="button"
                        class="btn btn-outline-default btn-round btn-sm"
                        (click)="empresaSeleccionada()"
                      >
                        <i class="fas fa-plus fa-lg"></i>
                      </button>

                    </div>
                    <!-- <p-dialog
                      header="Nueva Empresa"
                      [(visible)]="mostrar_nueva_empresa"
                      [focusOnShow]="false"
                      showEffect="fade"
                      [modal]="true"
                      [style]="{ width: '300px' }"
                    >
                      <div class="p-grid ui-fluid">
                        <form [formGroup]="forma_empresa" (ngSubmit)="guardarEmpresa()">
                        <div class="p-col-8">
                          <input
                            pInputText
                            formControlName="nombre"
                            placeholder="Ingrese un nombre"
                          />
                          <input
                            pInputText
                            formControlName="representante"
                            placeholder="Ingrese un representante"
                          />
                          <input
                            pInputText
                            formControlName="contacto"
                            placeholder="Ingrese un contacto (Opcional)"
                          />
                          <input
                            pInputText
                            formControlName="correo"
                            placeholder="Ingrese un correo (Opcional)"
                          />
                          <input
                            pInputText
                            formControlName="direccion"
                            placeholder="Ingrese una dirección"
                          />
                        </div>
                      </form>
                      </div>
                      <p-footer>
                        <div
                          class="ui-dialog-buttonpane ui-helper-clearfix row justify-content-center"
                        >
                          <button
                            type="submit"
                            class="btn btn-outline-success btn-round btn-sm"
                            [disabled]="!forma_empresa.valid" 
                          >
                            <i class="fas fa-save fa-lg fa-fw"></i> Guardar
                          </button>
                        </div>
                      </p-footer>
                    </p-dialog> -->
                    </div>

                    <div class="row justify-content-center">
                      <p-message
                        severity="error"
                        text=" Se requiere el Nombre de la Empresa"
                        *ngIf="invalidos('empresa')"
                        style="margin-top: 1em"
                      ></p-message>
                    </div>
                  </div>
                </p-card>
              </div>
            </div>

            <!-- Acompanantes -->
            <div class="row margen">
              <div class="col-md-12">
                <p-card
                  header="Acompañantes"
                  subheader="Ingrese a todos los Acompañantes que llegaron para realizar la visita"
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div class="head encabezado">
                      <i class="fas fa-user fa-4x fa-fw icono"></i>
                    </div>
                  </p-header>

                  <div class="row justify-content-center">
                    <div class="col-md-12">
                      <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Acompañantes</th>
                          </tr>
                        </thead>
                        <tbody formArrayName="acompanantes">
                          <tr
                            *ngFor="
                              let form of acompanantes.controls;
                              let i = index
                            "
                          >
                            <td>
                              <div class="row justify-content-center" [formGroupName]="i">
                                <!-- Componente Nombre -->
                                <div class="col-md-10">
                                  <div
                                    class="ui-inputgroup"
                                    
                                  >
                                    <span class="ui-inputgroup-addon">
                                      <i
                                        class="fas fa-pen-square fa-lg"
                                        style="line-height: 1"
                                      ></i
                                    ></span>
                                    <input
                                      type="text"
                                      size="30"
                                      pInputText
                                      formControlName="nombre"
                                      placeholder="Nombres"
                                    />
                                  </div>
                                </div>

                                <!-- Componente Contacto -->
                                <div class="col-md-10" style="margin-top: 1em">
                                  <div
                                    class="ui-inputgroup "
                                  >
                                  <span class="ui-inputgroup-addon">
                                    <i
                                      class="fas fa-pen-square fa-lg"
                                      style="line-height: 1"
                                    ></i
                                  ></span>
                                  <input
                                  type="text"
                                  size="30"
                                  pInputText
                                  formControlName="contacto"
                                  placeholder="Contacto Teléfonico (Opcional)"
                                />
                                  </div>
                                </div>

                                <div class="row justify-content-center boton">
                                  <button 
                                  type="button" 
                                  class="btn btn-outline-danger btn-round btn-sm" 
                                  (click)="borrarAcompanante(i)">
                                  <i class="fas fa-trash-alt fa-lg fa-fw"></i>
                                  BORRAR
                                  
                                </button>
                              </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <button
                        type="button"
                        class="btn btn-neutral btn-round btn-lg"
                        (click)="agregarAcompanante()"
                      >
                        <i class="fas fa-plus fa-lg fa-fw"></i> Agregar
                        Acompañante
                      </button>
                    </div>
                  </div>
                </p-card>
              </div>
            </div>

            <!-- Card Observación -->
            <div class="row margen">
              <div class="col-md-12">
                <p-card
                  header="Observaciones"
                  subheader="Ingrese alguna observación acerca de la visita."
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div class="head">
                      <i class="fas fa-clipboard fa-4x fa-fw icono"></i>
                    </div>
                  </p-header>
                  <div class="form-group componente">
                    <textarea
                      rows="5"
                      cols="50"
                      placeholder="Observación"
                      pInputTextarea
                      formControlName="observacion"
                    ></textarea>
                    <div class="row justify-content-center">
                      <p-message
                        severity="error"
                        text=" Se debe ingresar una Observación"
                        *ngIf="invalidos('observacion')"
                        style="margin-top: 1em"
                      ></p-message>
                    </div>
                  </div>
                </p-card>
              </div>
            </div>
          </div>

          <!-- Columna 2 -->
          <div class="col-md-5">

            <!-- Card Motivo -->
            <div class="row margen">
              <div class="col-md-12">
                <p-card
                  header="Motivo de la Visita"
                  subheader="Ingrese el motivo por el cual la empresa hace la visita."
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div class="head">
                      <i class="fas fa-map-marker-alt fa-3x fa-fw icono"></i>
                    </div>
                  </p-header>

                  <div class="form-group componente">
                    <textarea
                      rows="3"
                      cols="50"
                      placeholder="Motivo"
                      pInputTextarea
                      formControlName="motivo_visita"
                    ></textarea>
                    <div class="row justify-content-center">
                      <p-message
                        severity="error"
                        text=" Debe ingresar el motivo de la visita"
                        *ngIf="invalidos('motivo_visita')"
                        style="margin-top: 1em"
                      ></p-message>
                    </div>
                  </div>
                </p-card>
              </div>
            </div>

            <!-- Card Fecha de Visita -->
            <div class="row margen">
              <div class="col-md-12">
                <p-card
                  header="Fecha de la Visita"
                  subheader="Ingrese la Fecha en que se realizará la visita."
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div class="head">
                      <i class="far fa-calendar-check fa-3x fa-fw icono"></i>
                    </div>
                  </p-header>
                  <div class="row justify-content-center componente">
                    <div class="ui-inputgroup">
                      <span class="ui-inputgroup-addon">
                        <i
                          class="fas fa-calendar-alt fa-lg"
                          style="line-height: 1"
                        ></i
                      ></span>
                      <p-calendar
                        #myCalendar
                        [locale]="es"
                        dateFormat="yy-mm-dd"
                        placeholder="Fecha de Visita"
                        formControlName="fecha_visita"
                        (onSelect)=getFormato(myCalendar)
                      ></p-calendar>
                    </div>
                    <div class="row justify-content-center">
                      <div class="col-md-12">
                        <br />
                        <p-message
                          severity="error"
                          text=" Se debe ingresar la Fecha de la Visita"
                          *ngIf="invalidos('fecha_visita')"
                        ></p-message>
                      </div>
                    </div>
                  </div>
                </p-card>
              </div>
            </div>


            <!-- Card Guia -->
            <div class="row margen">
              <div class="col-md-12">
                <p-card
                  header="Guía"
                  subheader="Ingrese el nombre del Docente a cargo de la visita."
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div class="head">
                      <i class="fas fa-users fa-3x fa-fw icono"></i>
                    </div>
                  </p-header>
                  <div class="row justify-content-center componente">
                    <div class="ui-inputgroup">
                      <span class="ui-inputgroup-addon">
                        <i
                          class="fas fa-user-check fa-lg"
                          style="line-height: 1"
                        ></i
                      ></span>
                      <p-autoComplete
                        [suggestions]="docentes_filtrados"
                        (completeMethod)="filtrarDocente($event)"
                        [size]="20"
                        [minLength]="1"
                        placeholder="Guía"
                        [dropdown]="true"
                        formControlName="guia"
                        field="persona.identificacion"
                      >
                        <ng-template let-brand pTemplate="item">
                          <div class="ui-helper-clearfix">
                            <div
                              style="
                                font-size: 10px;
                                display: inline-block;
                                margin: 5px 5px 0 0;
                              "
                            >
                              {{ brand.persona.identificacion }}
                            </div>
                            <div
                              style="
                                font-size: 12px;
                                float: right;
                                margin: 8px 3px 0 0;
                              "
                            >
                              {{ brand.persona.primer_nombre }}
                              {{ brand.persona.primer_apellido }}
                            </div>
                          </div>
                        </ng-template>
                      </p-autoComplete>
                    </div>
                    <div class="row justify-content-center">
                      <p-message
                        severity="error"
                        text=" Se debe ingresar una Persona a Cargo"
                        *ngIf="invalidos('guia')"
                        style="margin-top: 1em"
                      ></p-message>
                    </div>
                  </div>
                </p-card>
              </div>
            </div>

            <!-- Horario de Visita-->
            <div class="row margen">
              <div class="col-md-12">
                <p-card
                  header="Horario de la Visita"
                  subheader="Ingrese el horario de la visita."
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div style="background-color: #cfcfcf">
                      <i class="far fa-clock fa-3x fa-fw icono"></i>
                    </div>
                  </p-header>
                  <div
                    class="row justify-content-center"
                  >
                    <!-- <div class="col-md-12"> -->
                      <div class="form-group">
                        <label>Hora de Visita</label>
                        <ngb-timepicker
                          formControlName="horario_visita"
                        ></ngb-timepicker>

                        <p-message
                          severity="error"
                          text=" Se debe ingresar la Hora de Entrada"
                          *ngIf="invalidos('horario_visita')"
                          style="margin-top: 1em"
                        ></p-message>
                      </div>
                  </div>
                </p-card>
              </div>
            </div>
          </div>
        </div>
        <!-- <br />
        <br /> -->

        <button
          type="submit"
          class="btn btn-outline-neutral btn-round btn-lg"
          [disabled]="!forma.valid"
          style="margin-top: 3em"
        >
          <i class="fas fa-save fa-lg fa-fw"></i> Registrar Visita
        </button>
      </form>
    </div>
  </div>

  <div class="section landing-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="text-center">Información de Visitas</h2>
          <br />

          <p-table
            #dt
            [columns]="cols"
            [value]="visitas"
            dataKey="id"
            [resizableColumns]="true"
            [scrollable]="true"
            scrollHeight="500px"
            styleClass="ui-table-summary"
            selectionMode="single"
            [(selection)]="visita_seleccionada"
            (onRowSelect)="onRowSelect($event)"
            [globalFilterFields]="['empresa.nombre','motivo_visita',
                                   'fecha_visita','hora_visita']"
            [paginator]="true" 
            [rows]="5" 
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
          >
          <ng-template pTemplate="caption">
            <div class="row ">
              <div class= "col-md-6" style="text-align: left"> 
                
                <ng-template #contenido let-modal>
                  <div class="modal-header">
                      <h4 class="modal-title">Generar PDF por Empresa</h4>
                      <button class="close" aria-label="close" type="button" (click)="modalService.dismissAll()">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                    <div class="row ">
                      <div class="col-md-12" style="text-align: center">
                        <p>Seleccione una Empresa para generar el documento</p>
                       </div>
                      <div class= "col-md-12" style="text-align: center">   
                        <p-dropdown [options]="empresas" 
                                    [(ngModel)]="empresa_pdf" 
                                    filter="true" 
                                    optionLabel="nombre"
                                    placeholder="Empresa"
                                    (onChange)="filtrarContenido($event)"
                                    pTooltip="Seleccione para Filtrar o Generar PDF">
                          <ng-template let-item pTemplate="selectedItem">
                              <span style="vertical-align:middle;">{{item.label}}</span>
                          </ng-template>
                          <ng-template let-empresa pTemplate="item">
                              <div class="ui-helper-clearfix" style="height: 50px;">
                                  <div style="font-size:14px; text-align:middle">{{empresa.label}}</div>
                              </div>
                          </ng-template>
                        </p-dropdown>

                      </div>
                      <br/>
                      <!-- <div class="col-md-6" style="text-align: center">
                          <button 
                            type="button" 
                            class="btn btn-outline-default btn-round btn-sm" 
                            [disabled]="!empresa" 
                            (click)="generarPlanes()"
                            
                            >
                            <i class="fas fa-file-pdf fa-lg fa-fw"></i> GENERAR PDF
                          </button>
                    </div> -->
                    <p-dialog header="Detalle de Documento" [(visible)]="mostrarAdmin" [style]="{width: '20vw'}">
                      <div class="row justify-content-center">
                        <div class="col-md-12">
                          <span class="ui-float-label" style="margin-top: 2em;">
                            <input id="float-input" type="text" size="30" pInputText [(ngModel)]="administracion.elaborado_por"> 
                            <label for="float-input">Elaborado Por</label>
                        </span>
                        </div>
                        <div class="col-md-12">
                          <span class="ui-float-label text">
                            <input id="float-input" type="text" size="30" pInputText [(ngModel)]="administracion.revisado_por"> 
                            <label for="float-input">Revisado Por</label>
                        </span>
                        </div>
                        <div class="col-md-12">
                          <span class="ui-float-label text">
                            <input id="float-input" type="text" size="30" pInputText [(ngModel)]="administracion.aprobado_por"> 
                            <label for="float-input">Aprobado Por</label>
                        </span>
                        </div>
                        <div class="col-md-12 text" style="text-align: center">
                          <button 
                            type="button" 
                            class="btn btn-outline-default btn-round btn-sm" 
                            (click)="abrirPDF()"
                            
                            >
                            <i class="fas fa-file-pdf fa-lg fa-fw"></i> GUARDAR
                          </button>
                        </div>
                      </div>
                  </p-dialog>
                  </div>
                  <br/>
                  <div class="modal-footer">
                    </div>
                      <!-- <button type="button" class="btn btn-success" (click)="modalService.close()">Ok!</button> -->
                  </div>
              </ng-template>
                <button type="button" class="btn btn-outline-info" (click)="modalService.open(contenido)">GENERAR PDF</button>
              </div>
              <div class= "col-md-6" style="text-align: right">   
                <div class="p-d-flex">
                  <span class="ui-inputgroup-addon"><i class="fas fa-search fa-lg"></i></span>
                            
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar en contenido" />
                        
                </div>
              </div>
            </div>
        </ng-template>
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col />
                <col *ngFor="let col of columns" />
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th style="width: 3em"></th>
                <th *ngFor="let col of columns" pResizableColumn>
                  {{ col.header }}
                </th>
              </tr>
            </ng-template>
            <ng-template
              pTemplate="body"
              let-rowData
              let-expanded="expanded"
              let-columns="columns"
            >
              <tr [pSelectableRow]="rowData">
                <td style="width: 3em" >
                  <a href="#" [pRowToggler]="rowData">
                    <i
                      [ngClass]="
                        expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'
                      "
                    ></i>
                  </a>
                </td>
                <td>
                  {{ rowData.empresa.nombre }}
                </td>
                <td>
                  {{ rowData.motivo_visita }}
                </td>
                <td>
                  {{ rowData.encargado_visita.persona.primer_nombre }}
                  {{ rowData.encargado_visita.persona.primer_apellido }}
                </td>
                <td>
                  {{ rowData.fecha_visita }}
                </td>
                <td>
                  {{ rowData.hora_visita }}
                </td>
              </tr>
            </ng-template>
            <ng-template
              pTemplate="rowexpansion"
              let-rowData
              let-columns="columns"
              
            >
              <tr>
                <td [attr.colspan]="columns.length + 1">
                  <div
                    class="p-grid ui-fluid"
                    style="font-size: 16px; padding: 20px"
                    [@rowExpansionTrigger]="'active'"
                  >
                    <div class="row justify-content-center">
                      <div class="col-md-6">
                        <div class="p-grid">
                          <div class="p-col-12">
                            <b>Nombre de Empresa:</b>
                            {{ rowData.empresa.nombre }}
                          </div>
                          <div class="p-col-12">
                            <b>Representante:</b>
                            {{
                              rowData.empresa.representante.nombre
                            }}
                            {{
                              rowData.empresa.representante.celular
                            }}
                            {{
                              rowData.empresa.representante.correo
                            }}
                          </div>
                          <div class="p-col-12">
                            <b>Acompañantes:</b>
                            <div *ngFor="let person of rowData.acompanantes">
                              <p>Nombres: {{ person.nombre }}</p>
                              <p>
                              Contacto: {{ person.contacto }}
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="p-grid">
                          <div class="p-col-12">
                            <b>Motivo de Visita:</b>
                            {{ rowData.motivo_visita }}
                          </div>
                          <div class="p-col-12">
                            <b>Encargado de Visita:</b>
                            {{ rowData.encargado_visita.persona.primer_nombre }}
                            {{
                              rowData.encargado_visita.persona.primer_apellido
                            }}
                          </div>
                          <div class="p-col-12">
                            <b>Fecha de Visita:</b>
                            {{ rowData.fecha_visita }}
                          </div>
                          <div class="p-col-12">
                            <b>Hora de Visita:</b>
                            {{ rowData.hora_visita }}
                            <!-- {{ rowData.hora_visita.formato_hora }} -->
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="p-col-12" style="margin-top: 0.5em">
                          <b>Observaciones:</b>
                          {{ rowData.observaciones }}
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>

          <p-dialog
            header="DETALLES DE VISITA"
            [(visible)]="displayDialog"
            [focusOnShow]="false"
            showEffect="fade"
            [modal]="true"
            [style]="{ width: '700px' }"
          >
            <div class="row justify-content-center" *ngIf="visita_seleccionada">
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-12">
                    <label for="_id" class="fuente">NOMBRE DE EMPRESA</label>
                    <p-autoComplete
                      [suggestions]="empresa_filtrada"
                      (completeMethod)="filtrarEmpresa($event)"
                      [size]="15"
                      [minLength]="1"
                      placeholder="Empresa"
                      field="nombre"
                      [dropdown]="true"
                      [(ngModel)]="visita_seleccionada.empresa"
                      
                    >
                    <ng-template let-brand pTemplate="item">
                      <div class="ui-helper-clearfix">
                        <div style="font-size: 15px; margin: 0.5em">
                          {{ brand.nombre }}
                        </div>
                      </div>
                    </ng-template>
  
                    </p-autoComplete>
                    
                  </div>
                </div>
                <div class="row edicion">
                  <div class="col-md-12">
                    <label for="email" class="fuente">GUÍA</label>
                    <p-autoComplete
                      [suggestions]="docentes_filtrados"
                      (completeMethod)="filtrarDocente($event)"
                      [size]="15"
                      [minLength]="1"
                      placeholder="Guía"
                      [dropdown]="true"
                      [(ngModel)]="visita_seleccionada.encargado_visita"
                      field="persona.identificacion"
                    >
                      <ng-template let-brand pTemplate="item">
                        <div class="ui-helper-clearfix">
                          <div
                            style="
                              font-size: 10px;
                              display: inline-block;
                              margin: 5px 5px 0 0;
                            "
                          >
                            {{ brand.persona.identificacion }}
                          </div>
                          <div
                            style="
                              font-size: 12px;
                              float: right;
                              margin: 8px 3px 0 0;
                            "
                          >
                            {{ brand.persona.primer_nombre }}
                            {{ brand.persona.primer_apellido }}
                          </div>
                        </div>
                      </ng-template>
                    </p-autoComplete>
                  </div>
                </div>
             
              </div>
              <div class="col-md-4">
                
                <div class="row edicion">
                  <div class="col-md-12">
                    <label for="tutor" class="fuente">FECHA DE VISITA</label>
                    <p-calendar
                      #myCalendar
                      [locale]="es"
                      dateFormat="yy-mm-dd"
                      placeholder="Fecha de Visita"
                      [(ngModel)]="visita_seleccionada.fecha_visita"
                      (onSelect)="getFormato(myCalendar)"
                      [showWeek]="true"
                    ></p-calendar>
                  </div>
                </div>

                <div class="row edicion">
                  <div class="col-md-12">
                    <label class="fuente">HORA DE VISITA</label>
                    <ngb-timepicker [(ngModel)]="tiempo"></ngb-timepicker>
                    <!-- <p-calendar
                      [(ngModel)]="visita_seleccionada.hora_visita"
                      [timeOnly]="true"
                    ></p-calendar> -->
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-12">
                    <label class="fuente">MOTIVO DE VISITA</label>
                    <textarea
                      rows="4"
                      cols="23"
                      placeholder="Motivo de Visita"
                      pInputTextarea
                      [(ngModel)]="visita_seleccionada.motivo_visita"
                    ></textarea>
                  </div>
                </div>
                <div class="row edicion">
                  <div class="col-md-12">
                    <label for="tutor" class="fuente">OBSERVACIONES</label>
                    <textarea
                      rows="5"
                      cols="23"
                      placeholder="Motivo de Visita"
                      pInputTextarea
                      [(ngModel)]="visita_seleccionada.observaciones"
                    ></textarea>
                  </div>
                </div>
              </div>
            </div>
            <p-footer>
              <div
                class="ui-dialog-buttonpane ui-helper-clearfix row justify-content-center"
              >
                <button
                  type="button"
                  class="btn btn-outline-danger btn-round btn-sm"
                  (click)="borrarVisita(visita_seleccionada)"
                >
                  <i class="fas fa-trash-alt fa-lg fa-fw"></i> Borrar
                </button>
                <button
                  type="button"
                  class="btn btn-outline-success btn-round btn-sm"
                  (click)="editarVisita()"
                >
                  <i class="fas fa-save fa-lg fa-fw"></i> Guardar
                </button>
                <button
                  type="button"
                  class="btn btn-outline-info btn-round btn-sm justify-content-center "
                  (click)="mostrarVentas()"
                >
                <i class="fas fa-file-pdf fa-lg fa-fw"></i> Generar PDF
                </button>
              </div>
            </p-footer>
          </p-dialog>
          <p-dialog header="Detalle de Documento" [(visible)]="mostrar_pdf" [style]="{width: '20vw'}">
            <div class="row justify-content-center">
              <div class="col-md-12">
                <span class="ui-float-label" style="margin-top: 2em;">
                  <input id="float-input" type="text" size="30" pInputText [(ngModel)]="visita_admin.elaborado_por"> 
                  <label for="float-input">Elaborado Por</label>
              </span>
              </div>
              <div class="col-md-12">
                <span class="ui-float-label text">
                  <input id="float-input" type="text" size="30" pInputText [(ngModel)]="visita_admin.revisado_por"> 
                  <label for="float-input">Revisado Por</label>
              </span>
              </div>
              <div class="col-md-12">
                <span class="ui-float-label text">
                  <input id="float-input" type="text" size="30" pInputText [(ngModel)]="visita_admin.aprobado_por"> 
                  <label for="float-input">Aprobado Por</label>
              </span>
              </div>
              <div class="col-md-12" style="text-align: center; margin-top: 2em;">
                <button 
                  type="button" 
                  class="btn btn-outline-default btn-round btn-sm" 
                  (click)="generarVisita()"
                  
                  >
                  <i class="fas fa-file-pdf fa-lg fa-fw"></i> GUARDAR
                </button>
              </div>
            </div>
        </p-dialog>
        </div>
      </div>
    </div>
  </div>

 

  <!-- <div class="section"> -->
  <div class="container" style="margin-bottom: 10%">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="row justify-content-center">
          <div class="col-md-2">
            <i class="fas fa-quote-left fa-7x fa-fw"></i>
          </div>
          <div class="col-md-8">
            <div class="row text-center">
              <h2>
                Cualquier vida es única e irrepetible y tiene tanto valor como
                otra. Si hubiese una vida sin importancia, ninguna sería
                importante.
              </h2>
            </div>
            <div class="row">
              <h5 style="margin-left: 75%; margin-top: 0.5em">
                - Olga Bejano -
              </h5>
            </div>
          </div>
          <div class="col-md-2" style="margin-top: 25%">
            <i class="fas fa-quote-right fa-7x fa-fw"></i>
          </div>
        </div>

        <!-- <div class="row">
          <div class="col-md-2">
            <img
              src="./assets/img/icons/comilla izquierda.png"
              width="80px"
              height="80px"
            />
          </div>
          <div class="col-md-8">
            <div class="row">
              <h2>
                Cualquier vida es única e irrepetible y tiene tanto valor como
                otra. Si hubiese una vida sin importancia, ninguna sería
                importante.
              </h2>
              <h5 style="margin-left: 75%; margin-top: 5%">- Olga Bejano -</h5>
            </div>
          </div>
          <div class="col-md-2" style="margin-top: 20%">
            <img
              src="./assets/img/icons/comilla derecha.png"
              width="80"
              height="80px"
            />
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>
