<div
  class="page-header"
  data-parallax="true"
  style="background-image: url('./assets/img/IPCA/visita ipca.jpg')"
>
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1 class="titulo">IPCAsist</h1>
      <h3 class="titulo">Visitas de Empresas</h3>
      <br />
      <a
        href="https://www.facebook.com/1031699846922675/videos/378236279717955"
        class="btn btn-outline-neutral btn-round"
        target="_blank"
        ><i class="fa fa-play fa-lg fa-fw"></i> Vídeo Experiencia
      </a>
    </div>
  </div>
</div>
<div class="main">
  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="title">Breve Descripción</h2>
          <h5 class="description">
            En está página se permitará registrar las visitas que realicen las
            distintas empresas o instituciones al IPCA.
            <br />
            <span
              >A continuación se presenta un breve formulario, en el cual se le
              dará la facilidad de registrar todos los datos de una visita.
              <br /><br />
              Recuerde guardar los cambios cuando esté seguro que ingresó
              correctamente la información, aquí una breve explicación.
            </span>
          </h5>
          <br />
          <a
            [routerLink]="['/ayuda-componentes']"
            class="btn btn-outline-default btn-round"
            target="_blank"
            ><i class="fas fa-question fa-lg fa-fw"></i>Ayuda de Componentes</a
          >
        </div>
      </div>
      <br /><br />
    </div>
  </div>

  <!-- Nueva Sección -->
  <div class="section section-dark text-center">
    <div class="container">
      <h2 class="title">Registre una Visita</h2>

      <form [formGroup]="forma" (ngSubmit)="guardarVisita()">
        <div class="row justify-content-center" style="margin-top: 2em">
          <!-- Columna 1 -->
          <div class="col-md-5" style="margin-top: 2em">
            <!-- Nombre Empresa -->
            <div class="row">
              <div class="col-md-12">
                <p-card
                  header="Empresa"
                  subheader="Ingrese el nombre de la Empresa o Institución visitante."
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div class="head">
                      <i class="far fa-building fa-4x fa-fw icono"></i>
                    </div>
                  </p-header>
                  <div class="row justify-content-center componente">
                    <div class="ui-inputgroup">
                      <span class="ui-inputgroup-addon">
                        <i
                          class="fas fa-signature fa-lg"
                          style="line-height: 1"
                        ></i
                      ></span>
                      <input
                        type="text"
                        placeholder="Nombre"
                        pInputText
                        size="30"
                        formControlName="empresa"
                      />
                    </div>

                    <div class="row justify-content-center">
                      <p-message
                        severity="error"
                        text=" Se requiere el Nombre de la Empresa"
                        *ngIf="invalidos('empresa')"
                        style="margin-top: 1em"
                      ></p-message>
                    </div>
                  </div>
                </p-card>
              </div>
            </div>

            <!-- Representante -->
            <div class="row espacio">
              <div class="col-md-12">
                <p-card
                  header="Representante"
                  subheader="Ingrese los nombres y los apellidos del Representante de la Empresa o Institución."
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div class="head">
                      <i class="fas fa-user fa-4x fa-fw icono"></i>
                    </div>
                  </p-header>
                  <div
                    class="row justify-content-center componente"
                    formGroupName="representante"
                  >
                    <div class="ui-inputgroup">
                      <span class="ui-inputgroup-addon">
                        <i
                          class="fas fa-user-tie fa-lg"
                          style="line-height: 1"
                        ></i
                      ></span>
                      <input
                        type="text"
                        placeholder="Nombres"
                        pInputText
                        size="35"
                        formControlName="nombres"
                      />
                    </div>
                    <div class="row justify-content-center">
                      <p-message
                        severity="error"
                        text=" Se requiere el Nombre del Representante"
                        *ngIf="sinNombres"
                        style="margin-top: 1em; margin-bottom: 1em"
                      ></p-message>
                    </div>
                    <div class="ui-inputgroup">
                      <span class="ui-inputgroup-addon">
                        <i
                          class="fas fa-user-tie fa-lg"
                          style="line-height: 1"
                        ></i
                      ></span>
                      <input
                        type="text"
                        placeholder="Apellidos"
                        size="35"
                        pInputText
                        formControlName="apellidos"
                      />
                    </div>
                    <div class="row justify-content-center">
                      <p-message
                        severity="error"
                        text=" Se requiere el Apellido del Representante"
                        *ngIf="sinApellidos"
                        style="margin-top: 1em"
                      ></p-message>
                    </div>
                  </div>
                </p-card>
              </div>
            </div>

            <!-- Card Correo -->
            <div class="row espacio">
              <div class="col-md-12">
                <p-card
                  header="Correo"
                  subheader="Ingrese el correo de la Empresa o Institución, para mantenerse en contacto."
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div style="background-color: #cfcfcf">
                      <i class="far fa-envelope fa-4x fa-fw icono"></i>
                    </div>
                  </p-header>
                  <div class="row justify-content-center componente">
                    <div class="ui-inputgroup">
                      <span class="ui-inputgroup-addon">
                        <i class="fas fa-at fa-lg" style="line-height: 1"></i
                      ></span>
                      <input
                        type="email"
                        placeholder="Correo"
                        pInputText
                        size="35"
                        formControlName="correo"
                      />
                    </div>
                    <div class="row justify-content-center">
                      <p-message
                        severity="error"
                        text=" Se requiere el Correo de la Empresa"
                        *ngIf="invalidos('correo')"
                        style="margin-top: 1em"
                      ></p-message>
                    </div>
                  </div>
                </p-card>
              </div>
            </div>

            

            <!-- Card Observación -->
            <div class="row espacio">
              <div class="col-md-12">
                <p-card
                  header="Observaciones"
                  subheader="Ingrese alguna observación acerca de la visita."
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div class="head">
                      <i class="fas fa-clipboard fa-4x fa-fw icono"></i>
                    </div>
                  </p-header>
                  <div class="form-group componente">
                    <textarea
                      rows="5"
                      cols="50"
                      placeholder="Observación"
                      pInputTextarea
                      formControlName="observacion"
                    ></textarea>
                    <div class="row justify-content-center">
                      <p-message
                        severity="error"
                        text=" Se debe ingresar una Observación"
                        *ngIf="invalidos('observacion')"
                        style="margin-top: 1em"
                      ></p-message>
                    </div>
                  </div>
                </p-card>
              </div>
            </div>
          </div>

          <!-- Columna 2 -->
          <div class="col-md-5">
            <!-- Dirección -->
            <!-- <div class="row margen">
              <div class="col-md-12">
                <p-card
                  header="Dirección"
                  subheader="Ingrese la dirección de la Empresa o Institución visitante."
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div class="head">
                      <i class="fas fa-map-marker-alt fa-3x fa-fw icono"></i>
                    </div>
                  </p-header>

                  <div
                    class="row justify-content-center componente"
                    formGroupName="direccion"
                  >
                    <div class="ui-inputgroup">
                      <span class="ui-inputgroup-addon">
                        <i
                          class="fas fa-map-marked-alt fa-lg"
                          style="line-height: 1"
                        ></i
                      ></span>
                      <input
                        type="text"
                        placeholder="Calle Principal"
                        pInputText
                        size="35"
                        formControlName="calle_principal"
                      />
                    </div>

                    <div class="row justify-content-center">
                      <p-message
                        severity="error"
                        text=" Se debe ingresar una Calle Principal"
                        *ngIf="sinPrincipal"
                        style="margin-top: 1em; margin-bottom: 1em"
                      ></p-message>
                    </div>
                    <div class="ui-inputgroup">
                      <span class="ui-inputgroup-addon">
                        <i
                          class="fas fa-map-marked-alt fa-lg"
                          style="line-height: 1"
                        ></i
                      ></span>
                      <input
                        type="text"
                        placeholder="Calle Secundaria"
                        size="35"
                        pInputText
                        formControlName="calle_secundaria"
                      />
                    </div>
                    <div class="row justify-content-center">
                      <p-message
                        severity="error"
                        text=" Se debe ingresar una Calle Secundaria"
                        *ngIf="sinSecundaria"
                        style="margin-top: 1em"
                      ></p-message>
                    </div>
                  </div>
                </p-card>
              </div>
            </div> -->

            <!-- Card Motivo -->
            <div class="row margen">
              <div class="col-md-12">
                <p-card
                  header="Motivo de la Visita"
                  subheader="Ingrese el motivo por el cual la empresa hace la visita."
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div class="head">
                      <i class="fas fa-map-marker-alt fa-3x fa-fw icono"></i>
                    </div>
                  </p-header>

                  <div class="form-group componente">
                    <textarea
                      rows="3"
                      cols="50"
                      placeholder="Motivo"
                      pInputTextarea
                      formControlName="motivo_visita"
                    ></textarea>
                    <div class="row justify-content-center">
                      <p-message
                        severity="error"
                        text=" Debe ingresar el motivo de la visita"
                        *ngIf="invalidos('motivo_visita')"
                        style="margin-top: 1em"
                      ></p-message>
                    </div>
                  </div>
                </p-card>
              </div>
            </div>

            <!-- Card Fecha de Visita -->
            <div class="row margen">
              <div class="col-md-12">
                <p-card
                  header="Fecha de la Visita"
                  subheader="Ingrese la Fecha en que se realizará la visita."
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div class="head">
                      <i class="far fa-calendar-check fa-3x fa-fw icono"></i>
                    </div>
                  </p-header>
                  <div class="row justify-content-center componente">
                    <div class="ui-inputgroup">
                      <span class="ui-inputgroup-addon">
                        <i
                          class="fas fa-calendar-alt fa-lg"
                          style="line-height: 1"
                        ></i
                      ></span>
                      <p-calendar
                        [locale]="es"
                        dateFormat="dd/mm/yy"
                        placeholder="Fecha de Visita"
                        formControlName="fecha_visita"
                      ></p-calendar>
                    </div>
                    <div class="row justify-content-center">
                      <div class="col-md-12">
                        <br />
                        <p-message
                          severity="error"
                          text=" Se debe ingresar la Fecha de la Visita"
                          *ngIf="invalidos('fecha_visita')"
                        ></p-message>
                      </div>
                    </div>
                  </div>
                </p-card>
              </div>
            </div>

            <!-- Card Contacto -->
            <div class="row margen">
              <div class="col-md-12">
                <p-card
                  header="Contacto"
                  subheader="Ingrese el número celular del Representante, para cualquier aviso."
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div style="background-color: #cfcfcf">
                      <i class="fas fa-phone fa-3x fa-fw icono"></i>
                    </div>
                  </p-header>
                  <div class="row justify-content-center componente">
                    <div class="ui-inputgroup">
                      <span class="ui-inputgroup-addon">
                        <i
                          class="fas fa-phone-square-alt fa-lg"
                          style="line-height: 1"
                        ></i
                      ></span>
                      <p-inputMask
                        mask="0999999999"
                        placeholder="Celular"
                        formControlName="contacto"
                      ></p-inputMask>
                      <br>
                      <div class="row justify-content-center">
                        <div class="col-md-12">
                          <p-message
                            severity="error"
                            text=" Se debe ingresar un Contacto"
                            *ngIf="invalidos('contacto')"
                            style="margin-top: 2em"
                          ></p-message>
                        </div>
                      </div>
                    </div>
                  </div>
                </p-card>
              </div>
            </div>

            <!-- Card Guia -->
            <div class="row margen">
              <div class="col-md-12">
                <p-card
                  header="Guía"
                  subheader="Ingrese el nombre del Docente a cargo de la visita."
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div class="head">
                      <i class="fas fa-users fa-3x fa-fw icono"></i>
                    </div>
                  </p-header>
                  <div class="row justify-content-center componente">
                    <div class="ui-inputgroup">
                      <span class="ui-inputgroup-addon">
                        <i
                          class="fas fa-user-check fa-lg"
                          style="line-height: 1"
                        ></i
                      ></span>
                      <p-autoComplete
                        [suggestions]="docentes_filtrados"
                        (completeMethod)="filtrarDocente($event)"
                        [size]="20"
                        [minLength]="1"
                        placeholder="Guía"
                        [dropdown]="true"
                        formControlName="guia"
                        field="persona.identificacion"
                      >
                        <ng-template let-brand pTemplate="item">
                          <div class="ui-helper-clearfix">
                            <div
                              style="
                                font-size: 10px;
                                display: inline-block;
                                margin: 5px 5px 0 0;
                              "
                            >
                              {{ brand.persona.identificacion }}
                            </div>
                            <div
                              style="
                                font-size: 12px;
                                float: right;
                                margin: 8px 3px 0 0;
                              "
                            >
                              {{ brand.persona.primerNombre }}
                              {{ brand.persona.primerApellido }}
                            </div>
                          </div>
                        </ng-template>
                      </p-autoComplete>
                    </div>
                    <div class="row justify-content-center">
                      <p-message
                        severity="error"
                        text=" Se debe ingresar una Persona a Cargo"
                        *ngIf="invalidos('guia')"
                        style="margin-top: 1em"
                      ></p-message>
                    </div>
                  </div>
                </p-card>
              </div>
            </div>

            <!-- Horario de Visita-->
            <div class="row margen">
              <div class="col-md-12">
                <p-card
                  header="Horario de la Visita"
                  subheader="Ingrese el horario en que se realizará la visita."
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div style="background-color: #cfcfcf">
                      <i class="far fa-clock fa-3x fa-fw icono"></i>
                    </div>
                  </p-header>
                  <div
                    class="row justify-content-center"
                    formGroupName="horario_visita"
                  >
                    <!-- Horario de Entrada-->
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Hora de Entrada</label>
                        <ngb-timepicker
                          [meridian]="meridian"
                          formControlName="horario_entrada"
                        ></ngb-timepicker>

                        <p-message
                          severity="error"
                          text=" Se debe ingresar la Hora de Entrada"
                          *ngIf="noHoraEntrada"
                          style="margin-top: 1em"
                        ></p-message>
                      </div>
                    </div>
                    <!-- Horario de Salida -->
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Hora de Salida</label>
                        <ngb-timepicker
                          [meridian]="meridian"
                          formControlName="horario_salida"
                        ></ngb-timepicker>
                        <p-message
                          severity="error"
                          text=" Se debe ingresar la Hora de Salida"
                          *ngIf="noHoraSalida"
                          style="margin-top: 1em"
                        ></p-message>
                      </div>
                    </div>
                  </div>
                </p-card>
              </div>
            </div>
          </div>
        </div>
        <!-- <br />
        <br /> -->

        <button
          type="submit"
          class="btn btn-outline-neutral btn-round btn-lg"
          [disabled]="!forma.valid"
          style="margin-top: 3em"
        >
          <i class="fas fa-save fa-lg fa-fw"></i> Registrar Visita
        </button>
      </form>
    </div>
  </div>

  <div class="section landing-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="text-center">Información de Visitas</h2>
          <br />

          <p-table
            [columns]="cols"
            [value]="visitas"
            dataKey="_id"
            [resizableColumns]="true"
            [scrollable]="true"
            scrollHeight="400px"
            styleClass="ui-table-summary"
            selectionMode="single"
            [(selection)]="visita_seleccionada"
            (onRowSelect)="onRowSelect($event)"
          >
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col />
                <col *ngFor="let col of columns" />
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th style="width: 3em"></th>
                <th *ngFor="let col of columns" pResizableColumn>
                  {{ col.header }}
                </th>
              </tr>
            </ng-template>
            <ng-template
              pTemplate="body"
              let-rowData
              let-expanded="expanded"
              let-columns="columns"
            >
              <tr [pSelectableRow]="rowData">
                <td style="width: 3em" >
                  <a href="#" [pRowToggler]="rowData">
                    <i
                      [ngClass]="
                        expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'
                      "
                    ></i>
                  </a>
                </td>
                <td>
                  {{ rowData.empresa.nombre }}
                </td>
                <td>
                  {{ rowData.empresa.representante.primerNombre }}
                  {{ rowData.empresa.representante.primerApellido }}
                </td>
                <td>
                  {{ rowData.encargadoVisita.persona.primerNombre }}
                  {{ rowData.encargadoVisita.persona.primerApellido }}
                </td>
                <td>
                  {{ rowData.fechaVisita }}
                </td>
                <td>
                  {{ rowData.horarioVisita.horaEntrada }}
                  <!-- {{ rowData.hora_visita.formato_hora }} -->
                </td>
              </tr>
            </ng-template>
            <ng-template
              pTemplate="rowexpansion"
              let-rowData
              let-columns="columns"
              
            >
              <tr>
                <td [attr.colspan]="columns.length + 1">
                  <div
                    class="p-grid ui-fluid"
                    style="font-size: 16px; padding: 20px"
                    [@rowExpansionTrigger]="'active'"
                  >
                    <div class="row justify-content-center">
                      <div class="col-md-6">
                        <div class="p-grid">
                          <div class="p-col-12">
                            <b>Nombre de Empresa:</b>
                            {{ rowData.empresa.nombre }}
                          </div>
                          <div class="p-col-12">
                            <b>Dirección:</b>
                            {{ rowData.empresa.direccion.callePrincipal }}
                            Y
                            {{ rowData.empresa.direccion.calleSecundaria }}
                          </div>
                          <div class="p-col-12">
                            <b>Representante:</b>
                            {{
                              rowData.empresa.representante.primerNombre
                            }}
                            {{
                              rowData.empresa.representante.primerApellido
                            }}
                          </div>
                          <div class="p-col-12">
                            <b>Correo:</b>
                            {{ rowData.empresa.representante.correo }}
                          </div>
                          <div class="p-col-12">
                            <b>Contacto:</b>
                            {{ rowData.empresa.representante.contacto }}
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="p-grid">
                          <div class="p-col-12 ">
                            <!-- <button (click)="openPdf()">Generar PDF</button> -->

                            <button (click)="openPdf()" 
                            class="btn btn-secondary justify-content-center mb-1"
                              >
                              <!-- class="btn btn-secondary d-flex align-items-center justify-content-center mb-1" -->
                              <i class="material-icons">
                                picture_as_pdf
                              </i> <span>&nbsp;</span>
                            </button>

                          </div>
                          <br>
                          <div class="p-col-12">
                            <b>Motivo de Visita:</b>
                            {{ rowData.motivo_visita }}
                          </div>
                          <div class="p-col-12">
                            <b>Encargado de Visita:</b>
                            {{ rowData.encargadoVisita.persona.primerNombre }}
                            {{
                              rowData.encargadoVisita.persona.primerApellido
                            }}
                          </div>
                          <div class="p-col-12">
                            <b>Fecha de Visita:</b>
                            {{ rowData.fecha_visita }}
                          </div>
                          <div class="p-col-12">
                            <b>Hora de Visita:</b>
                            {{ rowData.horarioVisita.horaEntrada }}
                            <!-- {{ rowData.hora_visita.formato_hora }} -->
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="p-col-12" style="margin-top: 0.5em">
                          <b>Observaciones:</b>
                          {{ rowData.observaciones }}
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>

          <p-dialog
            header="DETALLES DE PASANTE"
            [(visible)]="displayDialog"
            [focusOnShow]="false"
            showEffect="fade"
            [modal]="true"
            [style]="{ width: '700px' }"
          >
            <div class="row justify-content-center" *ngIf="visita_editar">
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-12">
                    <label for="_id" class="fuente">NOMBRE DE EMPRESA</label>
                    <input
                      type="text"
                      placeholder="Empresa"
                      pInputText
                      size="20"
                      [(ngModel)]="visita_editar.empresa.nombre"
                    />
                  </div>
                </div>
                <div class="row justify-content-center edicion">
                  <div class="col-md-12">
                    <label class="fuente">REPRESENTANTE</label>
                    <input
                      type="text"
                      placeholder="Nombre"
                      pInputText
                      size="20"
                      [(ngModel)]="
                        visita_editar.empresa.representante.primerNombre
                      "
                    />
                    <input
                      type="text"
                      placeholder="Apellido"
                      pInputText
                      size="20"
                      [(ngModel)]="
                        visita_editar.empresa.representante.primerApellido
                      "
                    />
                  </div>
                </div>
                <div class="row edicion">
                  <div class="col-md-12">
                    <label class="fuente">CORREO</label>
                    <input
                      type="email"
                      placeholder="Correo"
                      pInputText
                      size="20"
                      [(ngModel)]="
                        visita_editar.empresa.representante.correo
                      "
                    />
                  </div>
                </div>
                <div class="row edicion">
                  <div class="col-md-12">
                    <label class="fuente">CONTACTO</label>
                    <p-inputMask
                      mask="0999999999"
                      placeholder="Celular"
                      [(ngModel)]="
                        visita_editar.empresa.representante.contacto
                      "
                    ></p-inputMask>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-12">
                    <label for="email" class="fuente">GUÍA</label>
                    <p-autoComplete
                      [suggestions]="docentes_filtrados"
                      (completeMethod)="filtrarDocente($event)"
                      [size]="15"
                      [minLength]="1"
                      placeholder="Guía"
                      [dropdown]="true"
                      [(ngModel)]="visita_editar.encargadoVisita"
                      field="persona.identificacion"
                    >
                      <ng-template let-brand pTemplate="item">
                        <div class="ui-helper-clearfix">
                          <div
                            style="
                              font-size: 10px;
                              display: inline-block;
                              margin: 5px 5px 0 0;
                            "
                          >
                            {{ brand.persona.identificacion }}
                          </div>
                          <div
                            style="
                              font-size: 12px;
                              float: right;
                              margin: 8px 3px 0 0;
                            "
                          >
                            {{ brand.persona.primerNombre }}
                            {{ brand.persona.primerApellido }}
                          </div>
                        </div>
                      </ng-template>
                    </p-autoComplete>
                  </div>
                </div>
                <div class="row edicion">
                  <div class="col-md-12">
                    <label for="tutor" class="fuente">FECHA DE VISITA</label>
                    <p-calendar
                      [locale]="es"
                      dateFormat="dd/mm/yy"
                      placeholder="Fecha de Visita"
                      [(ngModel)]="visita_editar.fechaVisita"
                      (onSelect)="mostrarFecha($event)"
                      [showWeek]="true"
                    ></p-calendar>
                  </div>
                </div>

                <div class="row edicion">
                  <div class="col-md-12">
                    <label class="fuente">HORA DE VISITA</label>
                    <p-calendar
                      [(ngModel)]="hora_visita"
                      [timeOnly]="true"
                    ></p-calendar>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-12">
                    <label class="fuente">MOTIVO DE VISITA</label>
                    <textarea
                      rows="4"
                      cols="23"
                      placeholder="Motivo de Visita"
                      pInputTextarea
                      [(ngModel)]="visita_editar.motivoVisita"
                    ></textarea>
                  </div>
                </div>
                <div class="row edicion">
                  <div class="col-md-12">
                    <label for="tutor" class="fuente">OBSERVACIONES</label>
                    <textarea
                      rows="5"
                      cols="23"
                      placeholder="Motivo de Visita"
                      pInputTextarea
                      [(ngModel)]="visita_editar.observaciones"
                    ></textarea>
                  </div>
                </div>
              </div>
            </div>
            <p-footer>
              <div
                class="ui-dialog-buttonpane ui-helper-clearfix row justify-content-center"
              >
                <button
                  type="button"
                  class="btn btn-outline-danger btn-round btn-sm"
                  (click)="delete()"
                >
                  <i class="fas fa-trash-alt fa-lg fa-fw"></i> Borrar
                </button>
                <button
                  type="button"
                  class="btn btn-outline-success btn-round btn-sm"
                  (click)="save()"
                >
                  <i class="fas fa-save fa-lg fa-fw"></i> Guardar
                </button>
                <button
                  type="button"
                  class="btn btn-outline-info btn-round btn-sm justify-content-center "
                  (click)="openPdf()"
                >
                <i class="fas fa-file-pdf fa-lg fa-fw"></i> Generar PDF
                </button>
              </div>
            </p-footer>
          </p-dialog>
        </div>
      </div>
    </div>
  </div>

 

  <!-- <div class="section"> -->
  <div class="container" style="margin-bottom: 10%">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="row justify-content-center">
          <div class="col-md-2">
            <i class="fas fa-quote-left fa-7x fa-fw"></i>
          </div>
          <div class="col-md-8">
            <div class="row text-center">
              <h2>
                Cualquier vida es única e irrepetible y tiene tanto valor como
                otra. Si hubiese una vida sin importancia, ninguna sería
                importante.
              </h2>
            </div>
            <div class="row">
              <h5 style="margin-left: 75%; margin-top: 0.5em">
                - Olga Bejano -
              </h5>
            </div>
          </div>
          <div class="col-md-2" style="margin-top: 25%">
            <i class="fas fa-quote-right fa-7x fa-fw"></i>
          </div>
        </div>

        <!-- <div class="row">
          <div class="col-md-2">
            <img
              src="./assets/img/icons/comilla izquierda.png"
              width="80px"
              height="80px"
            />
          </div>
          <div class="col-md-8">
            <div class="row">
              <h2>
                Cualquier vida es única e irrepetible y tiene tanto valor como
                otra. Si hubiese una vida sin importancia, ninguna sería
                importante.
              </h2>
              <h5 style="margin-left: 75%; margin-top: 5%">- Olga Bejano -</h5>
            </div>
          </div>
          <div class="col-md-2" style="margin-top: 20%">
            <img
              src="./assets/img/icons/comilla derecha.png"
              width="80"
              height="80px"
            />
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>
