<div
  class="page-header"
  data-parallax="true"
  style="background-image: url('./assets/img/IPCA/portada docentes.jpg');"
>
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1 class="titulo">IPCAsist</h1>
      <h3 class="titulo">Visitas</h3>
      <br />
        <a
            href="https://www.youtube.com/watch?v=7hUHMhUpVnw"
            class="btn btn-outline-neutral btn-round"
            target="_blank"
            ><i class="fa fa-play fa-lg fa-fw"></i> Vídeo Informativo
        </a>
    </div>
  </div>
</div>
<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
              <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">Breve Descripción</h2>
                <h5 class="description">
                  En está página se permitará asignar los docentes a las distintias
                  aulas que existen en la institución IPCA.
                  <br />
                  <span
                    >A continuación se presenta un breve formulario, en el cual se le
                    dará la postestad de hacerlo. Recuerde guardar los cambios cuando
                    esté seguro que ingresó correcta información.
                  </span>
                </h5>
                <br />
                <a
                  href="#paper-kit"
                  class="btn btn-outline-default btn-round"
                  target="_blank"
                  ><i class="fas fa-question fa-lg fa-fw"></i>Ayuda de Componentes</a
                >
              </div>
            </div>
            <br /><br />
           
    </div>
</div>