<div class="wrapper">
  <div
    class="page-header"
    style="background-image: url('./assets/img/IPCA/IPCA-Exterior.jpg')"
  >
    <div class="filter"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
          <div
            class="card card-register caja"
            style="background-color: #ccb334"
          >
            <div
              class="row justify-content-center bg-dark"
              style="opacity: 0.9; border-style: dashed"
            >
              <div class="col-md-12">
                <h2>
                  <img
                    src="./assets/img/logo-editado.png"
                    alt="IPCA LOGO"
                    height="30%"
                    width="30%"
                    class="titulo"
                  />
                  <span style="color: white"> |</span>
                  <span class="titulo"> IPCAsist</span>
                </h2>
                <h3 class="title" style="color: white; margin-top: 1em">
                  Bienvenido
                </h3>
              </div>
            </div>
            <!-- <div class="social-line text-center">
              <a
                href="#pablo"
                class="btn btn-neutral btn-facebook btn-just-icon"
              >
                <i class="fa fa-facebook-square"></i>
              </a>
              <a href="#pablo" class="btn btn-neutral btn-google btn-just-icon">
                <i class="fa fa-google-plus"></i>
              </a>
              <a
                href="#pablo"
                class="btn btn-neutral btn-twitter btn-just-icon"
              >
                <i class="fa fa-twitter"></i>
              </a>
            </div> -->

            <!-- <div class="container"> -->

              <form
                [formGroup]="forma"
                (ngSubmit)="iniciarSesion()"
                style="margin-top: 1em"
              >
              
              <div class="row justify-content-center">
              
              <label style="color: #515455">Nombre de Usuario</label> 
              
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon">
                  <i class="far fa-user fa-lg" style="line-height: 1"></i></span>
                    <input
                    type="text"
                    placeholder="Nombre de Usuario"
                    pInputText
                    size="25"
                    formControlName="usuario"
                  />
                </div>
  
                <label style="color: #515455">Contraseña</label>
                <!-- <div
                  class="input-group form-group-no-border"
                  [ngClass]="{ 'input-group-focus': focus1 === true }"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fas fa-unlock-alt"></i>
                    </span>
                  </div>
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Contraseña"
                    (focus)="focus1 = true"
                    (blur)="focus1 = false"
                    formControlName="contrasena"
                  />
                </div> -->
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon">
                    <i class="fas fa-unlock fa-lg" style="line-height: 1"></i></span>
                  <input
                    type="password"
                    placeholder="Contraseña"
                    pInputText
                    size="25"
                    formControlName="contrasena"
                  />
                </div>

                <button
                  type="submit"
                  class="btn btn-outline-default btn-block btn-round"
                  [disabled]="!forma.valid"
                >
                  Iniciar Sesión
                </button>
              </div>
              </form>
              <!-- </div> -->
              
              <div  *ngIf="error" style="margin-top: 1em;">
                <!-- <p *ngFor="let alert of alerts" >
                  <ngb-alert [type]="alert.type" (closed)="close(alert)">{{ alert.message }}</ngb-alert>
                </p> -->
                <!-- <p-toast position="top-left"></p-toast> -->
                <p-message severity="error" text=" Advertencia, datos erróneos; consulte con el personal autorizado del IPCA para Iniciar Sesión" ></p-message>
                <!-- <p>
                  <button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
                </p> -->
              <!-- <a href="#" class="btn btn-link btn-default"
                >Olvidó su Contraseña?</a
              > -->
            </div>
          </div>
        </div>
      </div>
      <div class="footer register-footer text-center" style="margin-top: 1em;">
        <h6>
          &copy;{{ test | date: "yyyy" }}, Diseñado por: Lina Orellana | Andrés
          Novillo
        </h6>
      </div>
    </div>
  </div>
</div>
