<div
  class="page-header"
  data-parallax="true"
  style="background-image: url('./assets/img/IPCA/portada docentes.jpg');"
>
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1 class="titulo">IPCAsist</h1>
      <h3 class="titulo">Plan de Vida</h3>
      <br />
        <a
            href="https://www.youtube.com/watch?v=EvJjh_zYQzE"
            class="btn btn-outline-neutral btn-round"
            target="_blank"
            ><i class="fa fa-play fa-lg fa-fw"></i> Vídeo Informativo
        </a>
    </div>
  </div>
</div>
<div class="main">
  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="title">Breve Descripción</h2>
          <h5 class="description">
            En está página se permitará registrar las visitas que realicen las
            distintas empresas o instituciones al IPCA.
            <br />
            <span
              >A continuación se presenta un breve formulario, en el cual se le
              dará la facilidad de registrar todos los datos de una visita.
              <br /><br />
              Recuerde guardar los cambios cuando esté seguro que ingresó
              correctamente la información, aquí una breve explicación.
            </span>
          </h5>
          <br />
          <a
            href="#paper-kit"
            class="btn btn-outline-default btn-round"
            target="_blank"
            ><i class="fas fa-question fa-lg fa-fw"></i>Ayuda de Componentes</a
          >
        </div>
      </div>
      <br /><br />
    </div>
  </div>

      <div class="section section-dark text-center">
        <div class="container">

        </div>
      </div>
  







</div>