<div
  class="page-header"
  data-parallax="true"
  style="background-image: url('./assets/img/IPCA/plan de vida fondo.jpg')"
>
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1 class="titulo">IPCAsist</h1>
      <h3 class="titulo">Plan de Vida</h3>
      <br />
    </div>
  </div>
</div>
<div class="main">
  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="title">Breve Descripción</h2>
          <h5 class="description">
            En está página se podrá crear los respectivos planes de vida para
            cada estudiante basado en las entrevistas con el representante.
            <br />
            <span
              >A continuación se presenta un breve formulario, en el cual se le
              dará la facilidad de registrar todos los datos de una visita.
              <br />
              Recuerde guardar los cambios cuando esté seguro que ingresó
              correctamente la información, aquí una breve explicación.
            </span>
          </h5>
          <br />
          <a
            [routerLink]="['/ayuda-componentes']"
            class="btn btn-outline-default btn-round"
            target="_blank"
            ><i class="fas fa-question fa-lg fa-fw"></i>Ayuda de Componentes</a
          >
        </div>
      </div>
      <br /><br />
    </div>
  </div>

  <div class="section section-dark text-center">
    <div class="container">
      <h2 class="title">A llenar Plan de Vida!!</h2>
      <br />
      <div class="row justify-content-center">
        <div class="col-md-10 seccion bg-dark">
          <h3 class="title">DATOS INFORMATIVOS</h3>
        </div>
      </div>

      <!-- Formulario -->
      <form [formGroup]="forma" (ngSubmit)="guardarPlan()">
        <div class="row justify-content-center" style="margin-top: 2em">
          <div class="col-md-5" >
            <!-- Card Docente -->
            <div class="row espacio_dinformativos">
              <div class="col-md-12">
                <p-card
                  header="Docente"
                  subheader="Ingrese la cédula o el nombre del Docente asignado."
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div class="head encabezado">
                      <i
                        class="fas fa-chalkboard-teacher fa-4x fa-fw icono"
                      ></i>
                    </div>
                  </p-header>
                  <div
                    class="componente ui-inputgroup row justify-content-center"
                  >
                    <span class="ui-inputgroup-addon">
                      <i
                        class="fas fa-user-tie fa-lg"
                        style="line-height: 1"
                      ></i
                    ></span>

                    <p-autoComplete
                      [suggestions]="docentes_filtrados"
                      (completeMethod)="filtrarDocente($event)"
                      [size]="30"
                      [minLength]="1"
                      placeholder="Docente"
                      [dropdown]="true"
                      formControlName="docente"
                      field="persona.identificacion"
                    >
                      <ng-template let-brand pTemplate="item">
                        <div class="ui-helper-clearfix">
                          <div
                            style="
                              font-size: 10px;
                              display: inline-block;
                              margin: 10px 10px 0 0;
                            "
                          >
                            {{ brand.persona.identificacion }}
                          </div>
                          <div
                            style="
                              font-size: 12px;
                              float: right;
                              margin: 10px 10px 0 0;
                            "
                          >
                            {{ brand.persona.primer_nombre }}
                            {{ brand.persona.primer_apellido }}
                          </div>
                        </div>
                      </ng-template>
                    </p-autoComplete>
                    <p-message
                      severity="error"
                      text=" Se requiere al Docente"
                      *ngIf="invalidos('docente')"
                      class="error"
                    ></p-message>
                  </div>
                  <br />
                </p-card>
              </div>
            </div>
            <!-- <br /> -->

            <!-- Card Estudiante -->
            <div class="row espacio_dinformativos">
              <div class="col-md-12">
                <p-card
                  header="Estudiante"
                  subheader="Ingrese el nombre del estudiante correspondiente."
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div class="head encabezado">
                      <i class="fas fa-child fa-4x fa-fw icono"></i>
                    </div>
                  </p-header>
                  <div
                    class="componente ui-inputgroup row justify-content-center"
                  >
                    <span class="ui-inputgroup-addon">
                      <i
                        class="fas fa-user-circle fa-lg"
                        style="line-height: 1"
                      ></i
                    ></span>
                    <p-autoComplete
                      [suggestions]="estudiantes_filtrados"
                      (completeMethod)="filtrarEstudiante($event)"
                      [size]="30"
                      [minLength]="1"
                      placeholder="Estudiante"
                      [dropdown]="true"
                      formControlName="estudiante"
                      field="persona.identificacion"
                    >
                      <ng-template let-brand pTemplate="item">
                        <div class="ui-helper-clearfix">
                          <div
                            style="
                              font-size: 10px;
                              display: inline-block;
                              margin: 10px 10px 0 0;
                            "
                          >
                            {{ brand.persona.identificacion }}
                          </div>
                          <div
                            style="
                              font-size: 12px;
                              float: right;
                              margin: 10px 10px 0 0;
                            "
                          >
                            {{ brand.persona.primer_nombre }}
                            {{ brand.persona.primer_apellido }}
                          </div>
                        </div>
                      </ng-template>
                    </p-autoComplete>

                    <p-message
                      severity="error"
                      text=" Se requiere al Estudiante"
                      *ngIf="invalidos('estudiante')"
                      class="error"
                    ></p-message>
                  </div>
                  <br />
                </p-card>
              </div>
            </div>
            <!-- <br /> -->

            <!-- Card Aula -->
            <div class="row">
              <div class="col-md-12">
                <p-card
                  header="Aula"
                  subheader="Ingrese el nombre del Aula"
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div class="head encabezado">
                      <i class="fas fa-school fa-4x fa-fw icono"></i>
                    </div>
                  </p-header>

                  <div
                    class="componente ui-inputgroup row justify-content-center"
                  >
                    <span class="ui-inputgroup-addon">
                      <i
                        class="fas fa-door-open fa-lg"
                        style="line-height: 1"
                      ></i
                    ></span>

                    <p-autoComplete
                      [suggestions]="aulas_filtradas"
                      (completeMethod)="filtrarAula($event)"
                      [size]="30"
                      [minLength]="1"
                      placeholder="Aula"
                      [dropdown]="true"
                      formControlName="aula"
                      field="nombre"
                    >
                      <ng-template let-brand pTemplate="item">
                        <div class="ui-helper-clearfix">
                          <div style="font-size: 15px; margin: 0.5em">
                            {{ brand.nombre }}
                          </div>
                        </div>
                      </ng-template>
                    </p-autoComplete>

                    <p-message
                      severity="error"
                      text=" Se requiere al Aula correspondiente"
                      *ngIf="invalidos('aula')"
                      class="error"
                    ></p-message>
                  </div>
                  <br />
                </p-card>
              </div>
            </div>
          </div>

          <!-- Card Asignatura -->
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-12">
                <p-card
                  header="Asignatura"
                  subheader="Ingrese el nombre/s de la Asignatura."
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div class="head encabezado">
                      <i class="fas fa-book-reader fa-3x fa-fw icono"></i>
                    </div>
                  </p-header>

                  <div class="row justify-content-center componente">
                    <p-listbox
                      [options]="materias"
                      [multiple]="true"
                      [checkbox]="true"
                      [filter]="true"
                      optionLabel="nombre"
                      [listStyle]="{
                        'max-height': '150px'
                      }"
                      class="justify-content-between d-flex"
                      formControlName="asignatura"
                    >
                      <p-header> Asignaturas </p-header>
                    </p-listbox>
                    <p-message
                      severity="error"
                      text=" Se debe seleccionar por lo menos una Asignatura"
                      *ngIf="invalidos('asignatura')"
                      class="error"
                    ></p-message>
                  </div>
                  <br />
                </p-card>
              </div>
            </div>
            <br />

            <!-- Card Descripción -->
            <div class="row">
              <div class="col-md-12">
                <p-card
                  header="Descripción General de la Experiencia"
                  subheader="Ingrese una breve descripción general sobre la experiencia que espera del estudiante."
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div class="head encabezado">
                      <i class="fas fa-comment fa-3x fa-fw icono"></i>
                    </div>
                  </p-header>

                  <div
                    class="componente ui-inputgroup row justify-content-center"
                  >
                    <textarea
                      rows="5"
                      cols="50"
                      pInputTextarea
                      placeholder="Descripción"
                      formControlName="descripcion"
                    ></textarea>
                    <p-message
                      severity="error"
                      text=" Se necesita tener una Descripción General"
                      *ngIf="invalidos('descripcion')"
                      class="error"
                    ></p-message>
                  </div>
                  <br />
                </p-card>
              </div>
            </div>
            <br />
          </div>
        </div>
        <br />

        <div class="row justify-content-center">
          <div class="col-md-10 seccion bg-dark">
            <h3 class="title">PLANIFICACIÓN</h3>
          </div>
        </div>

        <div class="row justify-content-center" style="margin-top: 2em">
          <div class="col-md-5" style="margin-top: 1em">
            <!-- Card Objetivo -->
            <div class="row espacio_planificacion">
              <div class="col-md-12">
                <p-card
                  header="Objetivo General"
                  subheader="Ingrese el Objetivo General a desarrollar en el Estudiante."
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div class="head encabezado">
                      <i class="fas fa-lightbulb fa-3x fa-fw icono"></i>
                    </div>
                  </p-header>

                  <div
                    class="componente ui-inputgroup row justify-content-center"
                  >
                    <textarea
                      rows="5"
                      cols="50"
                      pInputTextarea
                      placeholder="Objetivo"
                      formControlName="objetivo_general"
                    ></textarea>
                    <p-message
                      severity="error"
                      text=" Se necesita un Objetivo General"
                      *ngIf="invalidos('objetivo_general')"
                      class="error"
                    ></p-message>
                  </div>
                  <br />
                </p-card>
              </div>
            </div>
            <!-- <br /> -->

            <!-- Card Visión -->
            <div class="row espacio_planificacion">
              <div class="col-md-12">
                <p-card
                  header="Visión"
                  subheader="Ingrese la Visión o como se proyecta al Estudiante al finalizar el Período."
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div class="head encabezado">
                      <i class="fas fa-binoculars fa-3x fa-fw icono"></i>
                    </div>
                  </p-header>

                  <div
                    class="componente ui-inputgroup row justify-content-center"
                  >
                    <textarea
                      rows="5"
                      cols="50"
                      pInputTextarea
                      placeholder="Visión"
                      formControlName="vision"
                    ></textarea>
                    <p-message
                      severity="error"
                      text=" Se necesita tener una Visión"
                      *ngIf="invalidos('vision')"
                      class="error"
                    ></p-message>
                  </div>
                  <br />
                </p-card>
              </div>
            </div>
            <!-- <br /> -->

            <!-- Card Dominio -->
            <div class="row espacio_planificacion">
              <div class="col-md-12">
                <p-card
                  header="Dominio"
                  subheader="Ingrese el nombre/s del Dominio correspondiente."
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div class="head encabezado">
                      <i class="fas fa-book-open fa-3x fa-fw icono"></i>
                    </div>
                  </p-header>

                  <div class="row justify-content-center componente">
                    <p-listbox
                      [options]="materias"
                      [multiple]="true"
                      [checkbox]="true"
                      [filter]="true"
                      optionLabel="nombre"
                      [listStyle]="{
                        'max-height': '150px'
                      }"
                      class="justify-content-between d-flex"
                      formControlName="dominio"
                    >
                      <p-header> Dominios </p-header>
                    </p-listbox>
                    <p-message
                      severity="error"
                      text=" Se debe seleccionar por lo menos un Dominio"
                      *ngIf="invalidos('dominio')"
                      class="error"
                    ></p-message>
                  </div>
                  <br />
                </p-card>
              </div>
            </div>
            <!-- <br /> -->

            <!-- Card Potencialidades -->
            <div class="row espacio_planificacion">
              <div class="col-md-12">
                <p-card
                  header="Potencialidades"
                  subheader="Ingrese las Potencialidades que sean requeridas con su respetivo nombre haciendo referencia a su descripción."
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div class="head encabezado">
                      <i class="fas fa-fist-raised fa-3x fa-fw icono"></i>
                    </div>
                  </p-header>

                  <div class="row justify-content-center componente">
                    <div class="col-md-12">
                      <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Potencialidades del Estudiante</th>
                          </tr>
                        </thead>
                        <tbody formArrayName="potencialidades">
                          <tr
                            *ngFor="
                              let form of potencialidades.controls;
                              let i = index
                            "
                          >
                            <td>
                              <div class="row justify-content-center" [formGroupName]="i">
                                <!-- Componente Nombre -->
                                <div class="col-md-10">
                                  <div
                                    class="ui-inputgroup"
                                    
                                  >
                                    <span class="ui-inputgroup-addon">
                                      <i
                                        class="fas fa-pen-square fa-lg"
                                        style="line-height: 1"
                                      ></i
                                    ></span>
                                    <input
                                      type="text"
                                      size="30"
                                      pInputText
                                      formControlName="nombre"
                                      placeholder="Nombre"
                                    />
                                  </div>
                                </div>

                                <!-- Componente Descripción -->
                                <div class="col-md-10" style="margin-top: 1em">
                                  <div
                                    class="ui-inputgroup row justify-content-center"
                                  >
                                    <p-chips
                                      styleClass="p-chips"
                                      formControlName="descripcion"
                                      placeholder="Descripción"
                                    ></p-chips>
                                  </div>
                                </div>

                                <div class="row justify-content-center boton">
                                  <button 
                                  type="button" 
                                  class="btn btn-outline-danger btn-round btn-sm" 
                                  (click)="borrarPotencialidad(i)">
                                  <i class="fas fa-trash-alt fa-lg fa-fw"></i>
                                  BORRAR
                                  
                                </button>
                              </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <button
                        type="button"
                        class="btn btn-neutral btn-round btn-lg"
                        (click)="agregarPotencialidad()"
                      >
                        <i class="fas fa-plus fa-lg fa-fw"></i> Agregar
                        Potencialidad
                      </button>
                    </div>
                  </div>
                </p-card>
              </div>
            </div>

          <!-- Card Disgustos -->
            <div class="row espacio_planificacion">
              <div class="col-md-12">
                <p-card
                  header="Disgustos"
                  subheader="Ingrese los Disgutos que tenga el Estudiate de acuerdo a tipo que considere."
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div class="head encabezado">
                      <i class="far fa-angry fa-3x fa-fw icono"></i>
                    </div>
                  </p-header>

                  <div class="row justify-content-center componente">
                    <div class="col-md-12">
                      <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Disgustos del Estudiante</th>
                          </tr>
                        </thead>
                        <tbody formArrayName="disgustos">
                          <tr
                            *ngFor="
                              let form of disgustos.controls;
                              let i = index
                            "
                          >
                            <td>
                              <div class="row justify-content-center" [formGroupName]="i">
                                <!-- Componente Nombre -->
                                <div class="col-md-10">
                                  <div
                                    class="ui-inputgroup"
                                    
                                  >
                                    <span class="ui-inputgroup-addon">
                                      <i
                                        class="fas fa-pen-square fa-lg"
                                        style="line-height: 1"
                                      ></i
                                    ></span>
                                    <input
                                      type="text"
                                      size="30"
                                      pInputText
                                      formControlName="nombre"
                                      placeholder="Nombre"
                                    />
                                  </div>
                                </div>

                                <!-- Componente Descripción -->
                                <div class="col-md-10" style="margin-top: 1em">
                                  <div
                                    class="ui-inputgroup row justify-content-center"
                                  >
                                    <p-chips
                                      styleClass="p-chips"
                                      formControlName="descripcion"
                                      placeholder="Descripción"
                                    ></p-chips>
                                  </div>
                                </div>

                                <div class="row justify-content-center boton">
                                  <button 
                                  type="button" 
                                  class="btn btn-outline-danger btn-round btn-sm" 
                                  (click)="borrarDisgustos(i)">
                                  <i class="fas fa-trash-alt fa-lg fa-fw"></i>
                                  BORRAR
                                  
                                </button>
                              </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <button
                        type="button"
                        class="btn btn-neutral btn-round btn-lg"
                        (click)="agregarDisgusto()"
                      >
                        <i class="fas fa-plus fa-lg fa-fw"></i> Agregar
                        Disgustos
                      </button>
                    </div>
                  </div>
                </p-card>
              </div>
            </div>
            <!-- <br> -->

            <!-- Card Sueños -->
            <div class="row">
              <div class="col-md-12">
                <p-card
                  header="Sueños"
                  subheader="Ingrese los Sueños que considera tenga el Estudiante de acuerdo a una categorización."
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div class="head encabezado">
                      <i class="fas fa-cloud fa-3x fa-fw icono"></i>
                    </div>
                  </p-header>

                  <div class="row justify-content-center componente">
                    <div class="col-md-12">
                      <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Sueños del Estudiante</th>
                          </tr>
                        </thead>
                        <tbody formArrayName="suenos">
                          <tr
                            *ngFor="
                              let form of suenos.controls;
                              let i = index
                            "
                          >
                            <td>
                              <div class="row justify-content-center" [formGroupName]="i">
                                <!-- Componente Nombre -->
                                <div class="col-md-10">
                                  <div
                                    class="ui-inputgroup"
                                    
                                  >
                                    <span class="ui-inputgroup-addon">
                                      <i
                                        class="fas fa-pen-square fa-lg"
                                        style="line-height: 1"
                                      ></i
                                    ></span>
                                    <input
                                      type="text"
                                      size="30"
                                      pInputText
                                      formControlName="nombre"
                                      placeholder="Nombre"
                                    />
                                  </div>
                                </div>

                                <!-- Componente Descripción -->
                                <div class="col-md-10" style="margin-top: 1em">
                                  <div
                                    class="ui-inputgroup row justify-content-center"
                                  >
                                    <p-chips
                                      styleClass="p-chips"
                                      formControlName="descripcion"
                                      placeholder="Descripción"
                                    ></p-chips>
                                  </div>
                                </div>

                                <div class="row justify-content-center boton">
                                  <button 
                                  type="button" 
                                  class="btn btn-outline-danger btn-round btn-sm" 
                                  (click)="borrarSuenos(i)">
                                  <i class="fas fa-trash-alt fa-lg fa-fw"></i>
                                  BORRAR
                                  
                                </button>
                              </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <button
                        type="button"
                        class="btn btn-neutral btn-round btn-lg"
                        (click)="agregarSueno()"
                      >
                        <i class="fas fa-plus fa-lg fa-fw"></i> Agregar
                        Sueños
                      </button>
                    </div>
                  </div>
                </p-card>
              </div>
            </div>
            <br>

            
          </div>

          <!-- Segunda Columna -->
          <div class="col-md-5" style="margin-top: 1em">
            <!-- Card Metas Específicas -->
            <div class="row espacio">
              <div class="col-md-12">
                <p-card
                  header="Metas Específicas"
                  subheader="Ingrese las Metas Específicas que espera obtener a lo largo del período con el Estudiante."
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div class="head encabezado">
                      <i class="fas fa-bullseye fa-3x fa-fw icono"></i>
                    </div>
                  </p-header>
                  <p-chips
                    styleClass="p-chips"
                    placeholder="Metas Específicas"
                    formControlName="metas_especificas"
                  ></p-chips>
                  <p-message
                    severity="error"
                    text=" Se debe ingresar por lo menos dos Metas Específicas"
                    *ngIf="invalidos('metas_especificas')"
                    class="error"
                  ></p-message>

                  <br />
                </p-card>
              </div>
            </div>
            <!-- <br /> -->

            <!-- Card Área -->
            <div class="row espacio" >
              <div class="col-md-12">
                <p-card
                  header="Área"
                  subheader="Ingrese el nombre/s del Área correspondiente."
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div class="head encabezado">
                      <i class="fas fa-book fa-3x fa-fw icono"></i>
                    </div>
                  </p-header>

                  <div class="row justify-content-center componente">
                    <p-listbox
                      [options]="materias"
                      [multiple]="true"
                      [checkbox]="true"
                      [filter]="true"
                      optionLabel="nombre"
                      [listStyle]="{
                        'max-height': '150px'
                      }"
                      formControlName="area"
                    >
                      <p-header> Áreas </p-header>
                    </p-listbox>
                    <p-message
                      severity="error"
                      text=" Se debe seleccionar por lo menos un Área"
                      *ngIf="invalidos('area')"
                      class="error"
                    ></p-message>
                  </div>
                  <br />
                </p-card>
              </div>
            </div>
            <!-- <br /> -->

            <!-- Card Necesidades -->
            <div class="row espacio">
              <div class="col-md-12">
                <p-card
                  header="Necesidades"
                  subheader="Ingrese las Necesidades que sean requeridas con su respetivo nombre haciendo referencia a su descripción"
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div class="head encabezado">
                      <i class="fas fa-walking fa-3x fa-fw icono"></i>
                    </div>
                  </p-header>

                  <div class="row justify-content-center componente">
                    <div class="col-md-12">
                      <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Necesidades del Estudiante</th>
                          </tr>
                        </thead>
                        <tbody formArrayName="necesidades">
                          <tr
                            *ngFor="
                              let form of necesidades.controls;
                              let i = index
                            "
                          >
                            <td>
                              <div class="row justify-content-center" [formGroupName]="i">
                                <!-- Componente Nombre -->
                                <div class="col-md-10">
                                  <div
                                    class="ui-inputgroup"
                                    
                                  >
                                    <span class="ui-inputgroup-addon">
                                      <i
                                        class="fas fa-pen-square fa-lg"
                                        style="line-height: 1"
                                      ></i
                                    ></span>
                                    <input
                                      type="text"
                                      size="30"
                                      pInputText
                                      formControlName="nombre"
                                      placeholder="Nombre"
                                    />
<!-- 
                                    <p-message
                                    severity="error"
                                    text=" Se debe ingresar un nombre como identificador"
                                    *ngIf="necesidades[i].get('nombre')"
                                    class="error"
                                  ></p-message> -->
                                  </div>
                                  
                                </div>

                                <!-- Componente Descripción -->
                                <div class="col-md-10" style="margin-top: 1em">
                                  <div
                                    class="ui-inputgroup row justify-content-center"
                                  >
                                    <p-chips
                                      styleClass="p-chips"
                                      formControlName="descripcion"
                                      placeholder="Descripción"
                                    ></p-chips>
                                  </div>
                                 
                                </div>
                                <div class="row justify-content-center boton">
                                
                                  <button 
                                  type="button" 
                                  class="btn btn-outline-danger btn-round btn-sm" 
                                  (click)="borrarNecesidad(i)">
                                  <i class="fas fa-trash-alt fa-lg fa-fw"></i>
                                  BORRAR
                                  
                                </button>
                              </div>
                            </div>
                              <!-- <br> -->
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <button
                        type="button"
                        class="btn btn-neutral btn-round btn-lg"
                        (click)="agregarNecesidad()"
                      >
                        <i class="fas fa-plus fa-lg fa-fw"></i> Agregar
                        Necesidad
                      </button>
                    </div>
                  </div>
                  <!-- <br /> -->
                </p-card>
              </div>
            </div>
            <!-- <br /> -->

            <!-- Card Gustos -->
            <div class="row espacio">
              <div class="col-md-12">
                <p-card
                  header="Gustos"
                  subheader="Ingrese los Gustos del Estudiante de acuerdo a la categorización que considere."
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div class="head encabezado">
                      <i class="far fa-smile-beam fa-3x fa-fw icono"></i>
                    </div>
                  </p-header>

                  <div class="row justify-content-center componente">
                    <div class="col-md-12">
                      <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Gustos del Estudiante</th>
                          </tr>
                        </thead>
                        <tbody formArrayName="gustos">
                          <tr
                            *ngFor="
                              let form of gustos.controls;
                              let i = index
                            "
                          >
                            <td>
                              <div class="row justify-content-center" [formGroupName]="i">
                                <!-- Componente Nombre -->
                                <div class="col-md-10">
                                  <div
                                    class="ui-inputgroup"
                                    
                                  >
                                    <span class="ui-inputgroup-addon">
                                      <i
                                        class="fas fa-pen-square fa-lg"
                                        style="line-height: 1"
                                      ></i
                                    ></span>
                                    <input
                                      type="text"
                                      size="30"
                                      pInputText
                                      formControlName="nombre"
                                      placeholder="Nombre"
                                    />
                                  </div>
                                </div>

                                <!-- Componente Descripción -->
                                <div class="col-md-10" style="margin-top: 1em">
                                  <div
                                    class="ui-inputgroup row justify-content-center"
                                  >
                                    <p-chips
                                      styleClass="p-chips"
                                      formControlName="descripcion"
                                      placeholder="Descripción"
                                    ></p-chips>
                                  </div>
                                </div>

                                <div class="row justify-content-center boton">
                                
                                  <button 
                                  type="button" 
                                  class="btn btn-outline-danger btn-round btn-sm" 
                                  (click)="borrarGustos(i)">
                                  <i class="fas fa-trash-alt fa-lg fa-fw"></i>
                                  BORRAR
                                  
                                </button>
                              </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <button
                        type="button"
                        class="btn btn-neutral btn-round btn-lg"
                        (click)="agregarGusto()"
                      >
                        <i class="fas fa-plus fa-lg fa-fw"></i> Agregar
                        Gustos
                      </button>
                    </div>
                  </div>
                </p-card>
              </div>
            </div>

            <!-- Card Deseos -->
            <div class="row espacio">
              <div class="col-md-12">
                <p-card
                  header="Deseos"
                  subheader="Ingrese los Deseps del Estudiante de acuerdo a la categorización que considere."
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div class="head encabezado">
                      <i class="fab fa-accessible-icon fa-3x fa-fw icono"></i>
                    </div>
                  </p-header>

                  <div class="row justify-content-center componente">
                    <div class="col-md-12">
                      <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Deseos del Estudiante</th>
                          </tr>
                        </thead>
                        <tbody formArrayName="deseos">
                          <tr
                            *ngFor="
                              let form of deseos.controls;
                              let i = index
                            "
                          >
                            <td>
                              <div class="row justify-content-center" [formGroupName]="i">
                                <!-- Componente Nombre -->
                                <div class="col-md-10">
                                  <div
                                    class="ui-inputgroup"
                                    
                                  >
                                    <span class="ui-inputgroup-addon">
                                      <i
                                        class="fas fa-pen-square fa-lg"
                                        style="line-height: 1"
                                      ></i
                                    ></span>
                                    <input
                                      type="text"
                                      size="30"
                                      pInputText
                                      formControlName="nombre"
                                      placeholder="Nombre"
                                    />
                                  </div>
                                </div>

                                <!-- Componente Descripción -->
                                <div class="col-md-10" style="margin-top: 1em">
                                  <div
                                    class="ui-inputgroup row justify-content-center"
                                  >
                                    <p-chips
                                      styleClass="p-chips"
                                      formControlName="descripcion"
                                      placeholder="Descripción"
                                    ></p-chips>
                                  </div>
                                </div>

                                <div class="row justify-content-center boton">
                                
                                  <button 
                                  type="button" 
                                  class="btn btn-outline-danger btn-round btn-sm" 
                                  (click)="borrarDeseos(i)">
                                  <i class="fas fa-trash-alt fa-lg fa-fw"></i>
                                  BORRAR
                                  
                                </button>
                              </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <button
                        type="button"
                        class="btn btn-neutral btn-round btn-lg"
                        (click)="agregarDeseo()"
                      >
                        <i class="fas fa-plus fa-lg fa-fw"></i> Agregar
                        Deseo
                      </button>
                    </div>
                  </div>
                </p-card>
              </div>
            </div>
            <!-- <br> -->

            <!-- Card Logros -->
            <div class="row espacio">
              <div class="col-md-12">
                <p-card
                  header="Logros"
                  subheader="Ingrese todos los logros que espera por el Estudiante."
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div class="head encabezado">
                      <i class="fas fa-hand-point-up fa-3x fa-fw icono"></i>
                    </div>
                  </p-header>
                  <p-chips
                    styleClass="p-chips"
                    placeholder="Logros"
                    formControlName="logros"
                  ></p-chips>
                  <p-message
                    severity="error"
                    text=" Debe ingresar los Logros que espera para del Estudiante."
                    *ngIf="invalidos('logros')"
                    class="error"
                  ></p-message>
                  <br />
                </p-card>
              </div>
            </div>

            <!-- Card Observaciones -->
            <div class="row ">
              <div class="col-md-12">
                <p-card
                  header="Observaciones"
                  subheader="Ingrese las Observaciones necesarias sobre el Estudiante."
                  styleClass="ui-card-shadow"
                >
                  <p-header>
                    <div class="head encabezado">
                      <i class="fas fa-eye fa-3x fa-fw icono"></i>
                    </div>
                  </p-header>

                  <textarea
                    rows="5"
                    cols="50"
                    pInputTextarea
                    placeholder="Observaciones"
                    style="margin-top: 0.5em"
                    formControlName="observaciones"
                  ></textarea>
                  <p-message
                    severity="error"
                    text=" Debe ingresar Observaciones sobre el Estudiante"
                    *ngIf="invalidos('observaciones')"
                    class="error"
                  ></p-message>
                  <!-- <br /> -->
                </p-card>
              </div>
            </div>
            <!-- <br> -->
          </div>
        </div>

        <button 
          type="submit" 
          class="btn btn-outline-neutral btn-round btn-lg" 
          [disabled]="!forma.valid" 
          style="margin-top: 3em">
          <i class="fas fa-save fa-lg fa-fw"></i> Guardar Plan de Vida
        </button>
      </form>
    </div>
  </div>

  <div class="section landing-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="text-center">Listado de Planes de Vida</h2>
          <br />

          <!-- <p-chips [(ngModel)]="values1"></p-chips>

          <p-listbox
            [options]="cities"
            [(ngModel)]="selectedCities"
            [multiple]="true"
            [checkbox]="true"
            [filter]="true"
            optionLabel="name"
            [listStyle]="{
              'max-height': '150px'
            }"
          >
            <p-header> Cities </p-header>
          </p-listbox> -->

          <p-table
            [columns]="cols"
            [value]="planes_vida"
            dataKey="_id"
            [resizableColumns]="true"
            [scrollable]="true"
            scrollHeight="400px"
            styleClass="ui-table-summary"
            selectionMode="single"
            [(selection)]="plan_vida"
            (onRowSelect)="onRowSelect($event)"
          >
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col />
                <col *ngFor="let col of columns" />
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th style="width: 3em"></th>
                <th *ngFor="let col of columns" pResizableColumn>
                  {{ col.header }}
                </th>
              </tr>
            </ng-template>
            <ng-template
              pTemplate="body"
              let-rowData
              let-expanded="expanded"
              let-columns="columns"
            >
              <tr [pSelectableRow]="rowData">
                <td style="width: 3em">
                  <a href="#" [pRowToggler]="rowData">
                    <i
                      [ngClass]="
                        expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'
                      "
                    ></i>
                  </a>
                </td>
                <td>
                  {{ rowData.docente.persona.primer_nombre }}
                  {{ rowData.docente.persona.primer_apellido }}
                </td>
                <td>
                  {{ rowData.estudiante.persona.primer_nombre}}
                  {{ rowData.estudiante.persona.primer_apellido }}
                </td>
                <td>
                  {{ rowData.aula.nombre }}
                </td>
                <td>
                  {{ rowData.vision || "Ninguna Visión"}}
                </td>
                <td>
                  {{ rowData.observaciones }}
                </td>
              </tr>
            </ng-template>
            <ng-template
              pTemplate="rowexpansion"
              let-rowData
              let-columns="columns"
            >
              <tr>
                <td [attr.colspan]="columns.length + 1">
                  <div
                    class="p-grid ui-fluid"
                    style="font-size: 16px; padding: 20px"
                    [@rowExpansionTrigger]="'active'"
                  >
                    <div class="row justify-content-center">
                      <div class="col-md-6">
                        <div class="p-grid">
                          <div class="p-col-12">
                            <b>Docente:</b>
                            {{ rowData.docente.persona.primer_nombre }}
                            {{ rowData.docente.persona.primer_apellido }}
                          </div>
                          <div class="p-col-12">
                            <b>Estudiante:</b>
                            {{ rowData.estudiante.persona.primer_nombre}}
                            {{ rowData.estudiante.persona.primer_apellido }}
                          </div>
                          <div class="p-col-12">
                            <b>Aula:</b>
                            {{ rowData.aula.nombre }}
                          </div>
                          <div class="p-col-12">
                            <b>Necesidades:</b>
                            {{ rowData.necesidades[0].titulo }}
                            ->
                            {{ rowData.necesidades[0].descripcion }}
                          </div>
                          <div class="p-col-12">
                            <b>Deseos:</b>
                            {{ rowData.deseos[0].titulo }}
                            ->
                            {{
                              rowData.deseos[0].descripcion
                            }}
                          </div>
                          <div class="p-col-12">
                            <b>Sueños:</b>
                            {{ rowData.deseos[0].titulo }}
                            ->
                            {{
                              rowData.deseos[0].descripcion
                            }}
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="p-grid">
                          <div class="p-col-12">
                            <b>Potencialidades:</b>
                            {{ rowData.potencialidades[0].titulo }}
                            ->
                            {{ rowData.potencialidades[0].descripcion }}
                          </div>
                          <div class="p-col-12">
                            <b>Gustos:</b>
                            {{ rowData.gustos[0].titulo }}
                            ->
                            {{
                              rowData.gustos[0].descripcion
                            }}
                          </div>
                          <!-- <div class="p-col-12">
                            <b>Deseos:</b>
                            {{ rowData.deseos[0].titulo }}
                            ->
                            {{
                              rowData.deseos[0].descripcion
                            }}
                          </div> -->
                          <div class="p-col-12">
                            <b>Disgustos:</b>
                            {{ rowData.disgustos[0].titulo }}
                            ->
                            {{
                              rowData.disgustos[0].descripcion
                            }}
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="p-col-12" style="margin-top: 0.5em">
                          <b>Descripción:</b>
                            {{ rowData.descripcion }}
                        </div>
                        <div class="p-col-12" style="margin-top: 0.5em">
                          <b>Objetivo General:</b>
                            {{ rowData.objetivo_general }}
                        </div>
                        <div class="p-col-12" style="margin-top: 0.5em">
                          <b>Observaciones:</b>
                          {{ rowData.observaciones }}
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="section landing-section"> -->
  <div class="container" style="margin-bottom: 10%">
    <div class="row justify-content-center">
      <div class="col-md-10">
          <div class="row justify-content-center">
            <div class="col-md-2">
              <i class="fas fa-quote-left fa-7x fa-fw"></i>
            </div>
            <div class="col-md-8">
              <div class="row text-center">
                <h2>
                  La discapacidad limita al ser humano abriéndole un nuevo
                universo de posibilidades.
                </h2>
              </div>
              <div class="row">
                <h5 style="margin-left: 80%; margin-top: 0.5em">
                  - Ítalo Violo -
                </h5>
              </div>
            </div>
            <div class="col-md-2" style="margin-top: 17%">
              <i class="fas fa-quote-right fa-7x fa-fw"></i>
            </div>
          </div>
      </div>
    </div>
  </div>

</div>
