<div
  class="page-header"
  data-parallax="true"
  style="background-image: url('./assets/img/IPCA/portada docentes.jpg');"
>
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1 class="titulo">IPCAsist</h1>
      <h3 class="titulo">Visitas</h3>
      <br />
        <a
            href="https://www.youtube.com/watch?v=EvJjh_zYQzE"
            class="btn btn-outline-neutral btn-round"
            target="_blank"
            ><i class="fa fa-play fa-lg fa-fw"></i> Vídeo Informativo
        </a>
    </div>
  </div>
</div>