<footer class="footer">
  <div class="container">
    <div class="row">
      <nav class="footer-nav">
        <ul>
          <li>
            <a [routerLink]="['/desarrolladores']"
              ><i class="fa fa-code" aria-hidden="true"></i>Desarrolladores</a
            >
          </li>
          <!-- <li><a href="http://blog.creative-tim.com">Blog</a></li>
          <li><a href="https://www.creative-tim.com/license">Licenses</a></li> -->
        </ul>
      </nav>
      <div class="credits ml-auto">
        <span class="copyright">
          <img src="assets/img/IPCA/ista.png" width="35" height="30" alt="" />
          Proyecto donado por: Instituto Superior Tecnológico del Azuay, ©
          {{ test | date: "yyyy" }}
          <!-- <i class="fa fa-heart heart"></i> -->
        </span>
        <span class="copyright"></span>
      </div>
    </div>
  </div>
</footer>
